body {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  color: #262626;
  background-color: #fafafa;
}
h3 {
  font-weight: normal;
  font-size: 15px;
  margin: 0;
  padding: 0;
}
.small {
  font-size: 10px;
}
a {
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: #e46027;
}
.upcase {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.text_right {
  text-align: right;
}
.content {
  width: 900px;
  margin: auto;
}
#top_nav {
  background-color: #262626;
  padding: 3px 0;
  margin-bottom: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  line-height: 27px;
}
#top_nav a {
  color: white;
}
#top_nav a:hover {
  color: #e46027;
}
#top_nav .logo {
  font-weight: bold;
  float: left;
}
#top_nav .logo img {
  vertical-align: -7px;
}
#top_nav .nav_links a {
  padding-left: 9px;
}
#footer {
  border-top: 1px solid #a6a6a6;
  padding-top: 3px;
  width: 900px;
  margin: 60px auto;
}
.home .logo {
  text-align: center;
  padding: 15px 0;
}
.home .logo img {
  margin-left: -15px;
}
.home .main_nav {
  width: 17em;
  margin: 0 auto 30px auto;
  overflow: hidden;
}
.home .main_nav a {
  color: #262626;
  width: 7em;
  margin-left: 1em;
  float: left;
  text-align: center;
  padding-bottom: 3px;
  border-bottom: 1px solid #e5e5e5;
}
.home .main_nav a.selected, .home .main_nav a:hover {
  border-bottom: 1px solid #666666;
}
.home .opening_post {
  width: 45em;
  margin: auto;
}
