<nav id="top_nav">
    <div class='content'>
        <a href='/' class='logo upcase'>
            <img src='/assets/images/transparent_icon_tiny.png'/>
            THE PUZZLE SCHOOL
        </a>
        
        <div class='nav_links text-right small'>
            <a href='/'>HOME</a>    
            <!-- <a>THE SCHOOL</a> -->
            <!-- <a>PUZZLES</a> -->
            <a href='/labs'>LABS</a>
            <!-- <a>BLOG</a> -->
            <a href='/about'>ABOUT</a>
        </div>
    </div>
</nav>

<div id="content" class='content'>{&content}</div>

<div id='footer' class='text-right small'>
    &copy; Puzzle School 2012
</div>