body {
  background-color: transparent;
  padding: 0;
  margin: 0;
}
.xyflyer {
  height: 640px;
  width: 960px;
  position: relative;
  overflow: hidden;
}
.xyflyer .dynamic_content {
  height: 640px;
  width: 960px;
  background-image: url('images/background1.jpg');
}
.xyflyer .dynamic_content.left .board, .xyflyer .dynamic_content.right .equation_area {
    float: right;
}
.xyflyer .dynamic_content.right .board, .xyflyer .dynamic_content.left .equation_area {
    float: left;
}
.xyflyer .dynamic_content.dragging {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.xyflyer .dynamic_content.dragging .dragging {
  box-shadow: 4px 5px 4px #b69c63;
  -webkit-box-shadow: 4px 5px 4px #b69c63;
  -moz-box-shadow: 4px 5px 4px #b69c63;
  box-shadow: 5px 5px 4px #b69c63 2;
  -webkit-box-shadow: 5px 5px 4px #b69c63 2;
  -moz-box-shadow: 5px 5px 4px #b69c63 2;
  box-shadow: 5px 6px 5px #b69c63;
  -webkit-box-shadow: 5px 6px 5px #b69c63;
  -moz-box-shadow: 5px 6px 5px #b69c63;
  cursor: move;
  overflow: hidden;
}
.xyflyer .dynamic_content .board {
    width: 600px;
    height: 640px;
    float: left;
    position: relative;
}
.xyflyer .dynamic_content .board canvas {
  position: absolute;
}
.xyflyer .dynamic_content .equation_area {
  background-color: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  opacity: 0.8;
  width: 357px;
  height: 634px;
  margin: 3px 0 0 3px;
  font-size: 24px;
  float: right;
  position: relative;
}
.xyflyer .dynamic_content .equation_area h2,
.xyflyer .dynamic_content .equation_area h3 {
  text-align: center;
  padding-top: 6px;
}
.xyflyer .dynamic_content .equation_area.show_places .accept_fragment {
  border-bottom: 2px solid #ffbd2a;
  width: 12px;
}
.xyflyer .dynamic_content .equation_area.show_places .accept_fragment:first-child {
  width: 21px;
}
.xyflyer .dynamic_content .equation_area.show_places .accept_fragment:last-child {
  width: 45px;
}
.xyflyer .dynamic_content .equation_area.show_places .accept_fragment.with_component {
  width: auto;
  border-bottom: none;
}
.xyflyer .dynamic_content .equation_area.show_places .accept_fragment.only_area {
  width: 300px;
  font-size: 18px;
}
.xyflyer .dynamic_content .equation_area .header {
  position: absolute;
  left: 0;
  top: 3px;
  padding: 6px;
}
.xyflyer .dynamic_content .equation_area .level_selector_menu {
  position: absolute;
  right: 45px;
  top: 0;
  padding: 6px 12px 12px 12px;
  font-size: 30px;
  color: #24aac3;
}
.xyflyer .dynamic_content .equation_area .settings_menu {
  position: absolute;
  right: 0px;
  top: 0;
  padding: 6px 12px 12px 12px;
  font-size: 30px;
  color: #24aac3;
}
.xyflyer .dynamic_content .equation_area .equations {
  margin-top: 45px;
}
.xyflyer .dynamic_content .equation_area .equations .equation_container {
  overflow: hidden;
  margin-bottom: 12px;
}
.xyflyer .dynamic_content .equation_area .equations .equation_container .intro {
  float: left;
  margin: 0 6px;
  line-height: 45px;
  font-size: 30px;
}
.xyflyer .dynamic_content .equation_area .equations .equation_container .only_area {
  width: 300px;
  font-size: 18px;
  padding: 0 3px;
}
.xyflyer .dynamic_content .equation_area .equations .equation_container .equation {
  padding: 0 6px;
  margin-right: 6px;
  color: #c7c7c7;
  border: 1px solid #c7c7c7;
  position: relative;
  overflow: hidden;
  line-height: 42px;
  height: 42px;
  font-size: 36px;
}
.xyflyer .dynamic_content .equation_area .equations .equation_container .equation.starting_fragment,
.xyflyer .dynamic_content .equation_area .equations .equation_container .equation.with_component,
.xyflyer .dynamic_content .equation_area .equations .equation_container .equation .with_component {
  color: #262626;
}
.xyflyer .dynamic_content .equation_area .equations .equation_container .equation.with_component,
.xyflyer .dynamic_content .equation_area .equations .equation_container .equation .with_component {
  cursor: pointer;
  border: 1px solid #fafafa;
}
.xyflyer .dynamic_content .equation_area .equations .equation_container .equation .accept_component {
  border: 1px solid #ffbd2a;
}
.xyflyer .dynamic_content .equation_area .equations .equation_container .equation.component_over,
.xyflyer .dynamic_content .equation_area .equations .equation_container .equation .component_over,
.xyflyer .dynamic_content .equation_area .equations .equation_container .equation.over_dropped,
.xyflyer .dynamic_content .equation_area .equations .equation_container .equation .over_dropped {
  border: 1px solid #0c8d28;
  color: #0c8d28;
  font-weight: bold;
  width: 47px;
}
.xyflyer .dynamic_content .equation_area .equations .equation_container .equation.component_over.with_component,
.xyflyer .dynamic_content .equation_area .equations .equation_container .equation .component_over.with_component,
.xyflyer .dynamic_content .equation_area .equations .equation_container .equation.over_dropped.with_component,
.xyflyer .dynamic_content .equation_area .equations .equation_container .equation .over_dropped.with_component {
  width: auto;
}
.xyflyer .dynamic_content .equation_area .equations .equation_container .equation.component_over.only_area,
.xyflyer .dynamic_content .equation_area .equations .equation_container .equation .component_over.only_area,
.xyflyer .dynamic_content .equation_area .equations .equation_container .equation.over_dropped.only_area,
.xyflyer .dynamic_content .equation_area .equations .equation_container .equation .over_dropped.only_area {
  width: 300px;
}
.xyflyer .dynamic_content .equation_area .equations .equation_container .equation .fragment,
.xyflyer .dynamic_content .equation_area .equations .equation_container .equation .accept_fragment {
  float: left;
  height: 40px;
}
.xyflyer .dynamic_content .equation_area .equations .equation_container .equation .removing {
  display: none;
}
.xyflyer .dynamic_content .equation_area .equations .equation_container .equation.bad_formula {
  border: 1px solid #ff6e5f;
  color: red;
}
.xyflyer .dynamic_content .equation_area .equations .equation_container .equation.bad_formula .with_component {
  color: red;
}
.xyflyer .dynamic_content .equation_area .equations .equation_container .bad_formula_message,
.xyflyer .dynamic_content .equation_area .equations .equation_container .range,
.xyflyer .dynamic_content .equation_area .equations .equation_container .variable {
  font-size: 21px;
  border: 1px solid #ccc;
  border-top: none;
  width: 83%;
  margin-left: 12%;
  padding: 3px 6px;
  overflow: hidden;
}
.xyflyer .dynamic_content .equation_area .equations .equation_container .bad_formula_message input,
.xyflyer .dynamic_content .equation_area .equations .equation_container .range input,
.xyflyer .dynamic_content .equation_area .equations .equation_container .variable input {
  width: 24px;
  font-size: 18px;
  text-align: center;
}
.xyflyer .dynamic_content .equation_area .equations .equation_container .bad_formula_message .slider,
.xyflyer .dynamic_content .equation_area .equations .equation_container .range .slider,
.xyflyer .dynamic_content .equation_area .equations .equation_container .variable .slider {
  position: relative;
  float: right;
  width: 72%;
}
.xyflyer .dynamic_content .equation_area .equations .equation_container .bad_formula_message .slider .track,
.xyflyer .dynamic_content .equation_area .equations .equation_container .range .slider .track,
.xyflyer .dynamic_content .equation_area .equations .equation_container .variable .slider .track {
  margin: 12px 10px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #cb1500), color-stop(1, #9b0100));
  background: -moz-linear-gradient(center top, #cb1500 5%, #9b0100 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
  background-color: #cb1500;
  height: 9px;
}
.xyflyer .dynamic_content .equation_area .equations .equation_container .bad_formula_message .slider .knob,
.xyflyer .dynamic_content .equation_area .equations .equation_container .range .slider .knob,
.xyflyer .dynamic_content .equation_area .equations .equation_container .variable .slider .knob {
  position: absolute;
  background: -webkit-radial-gradient(60% 70%, circle, #1dad3d, #085e1b);
  background: -moz-radial-gradient(60% 70%, circle, #1dad3d, #085e1b);
  background: -ms-radial-gradient(60% 70%, circle, #1dad3d, #085e1b);
  background: -o-radial-gradient(60% 70%, circle, #1dad3d, #085e1b);
  background: radial-gradient(circle at 60% 70%, #1dad3d, #085e1b);
  width: 30px;
  height: 30px;
  top: 2px;
  left: 0;
  cursor: move;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.xyflyer .dynamic_content .equation_area .equations .equation_container .bad_formula_message {
  border: none;
  color: red;
}
.xyflyer .dynamic_content .equation_area .launch_button {
  text-align: center;
}
.xyflyer .dynamic_content .equation_area .possible_fragments {
  margin-top: 30px;
  padding: 6px;
  position: relative;
  text-align: center;
}
.xyflyer .dynamic_content .equation_area .possible_fragments p {
  margin: 6px 0 12px 0;
  font-size: 15px;
}
.xyflyer .dynamic_content .equation_area .possible_fragments .equation_component_container {
  padding: 6px;
  float: left;
  font-size: 24px;
}
.xyflyer .dynamic_content .equation_area .possible_fragments .long .equation_component, .xyflyer .dynamic_content .equation_area .possible_fragments .place_holder.long {
  padding: 6px 1px;
}
.xyflyer .dynamic_content .equation_area .possible_fragments .equation_component_container .equation_component {
  cursor: move;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.xyflyer .dynamic_content .equation_area .possible_fragments .place_holder {
  padding: 6px 9px;
  color: #c7c7c7;
  border: 1px solid #c7c7c7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: url('images/fragment_down_arrow.png') no-repeat top center;
  cursor: pointer;
}
.xyflyer .dynamic_content .button {
  font-size: 18px;
  -moz-box-shadow: inset 0px 1px 0px 0px #ed7265;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ed7265;
  box-shadow: inset 0px 1px 0px 0px #ed7265;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #cb1500), color-stop(1, #9b0100));
  background: -moz-linear-gradient(center top, #cb1500 5%, #9b0100 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
  background-color: #cb1500;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #ad2a1e;
  display: inline-block;
  color: #fafafa;
  font-family: arial;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #8b3029;
  margin: auto;
}
.xyflyer .dynamic_content .button.active {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00));
  background: -moz-linear-gradient(center top, #ce0100 5%, #fe1a00 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
  background-color: #ce0100;
  position: relative;
  top: 1px;
}
.xyflyer .dynamic_content .equation_component {
  padding: 6px 9px;
  border: 1px solid #949494;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: move;
  background: -webkit-gradient(linear, right bottom, left top, color-stop(0.5, #dec48b), color-stop(0.7, #e6cc93));
  background: -moz-linear-gradient(center top, #dec48b 50%, #e6cc93 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='rgb(222,196,139)', endColorstr='rgb(230,204,147)');
  box-shadow: 0 1px 0 #b69c63;
  -webkit-box-shadow: 0 1px 0 #b69c63;
  -moz-box-shadow: 0 1px 0 #b69c63;
  box-shadow: 1px 1px 0 #b69c63 2;
  -webkit-box-shadow: 1px 1px 0 #b69c63 2;
  -moz-box-shadow: 1px 1px 0 #b69c63 2;
  box-shadow: 1px 2px 1px #b69c63;
  -webkit-box-shadow: 1px 2px 1px #b69c63;
  -moz-box-shadow: 1px 2px 1px #b69c63;
}
.xyflyer .dynamic_content .hints {
  font-size: 18px;
  position: absolute;
  padding: 12px 0;
  bottom: 0;
  left: 75px;
}
.xyflyer .dynamic_content .hint_popup {
  font-size: 18px;
  position: absolute;
  top: -10000px;
  left: -10000px;
  opacity: 0;
  background-color: white;
  width: 120px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0 0 6px #b2b2b2;
  -webkit-box-shadow: 0 0 6px #b2b2b2;
  -moz-box-shadow: 0 0 6px #b2b2b2;
}
.xyflyer .dynamic_content .hint_popup::after {
  background-color: white;
  height: 18px;
  width: 18px;
  content: "\00a0";
  display: block;
  margin-left: 52px;
  margin-top: -9px;
  box-shadow: 1px 1px #d3d3d3;
  -webkit-box-shadow: 1px 1px #d3d3d3;
  -moz-box-shadow: 1px 1px #d3d3d3;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.xyflyer .dynamic_content .drag_this,
.xyflyer .dynamic_content .drag_this_right,
.xyflyer .dynamic_content .drop_here,
.xyflyer .dynamic_content .drop_here_right,
.xyflyer .dynamic_content .launch_hint {
  position: absolute;
  top: -1000px;
  left: -1000px;
  z-index: 99;
}
.xyflyer .dynamic_content .dialog {
  background-color: white;
  padding: 30px;
  border: 1px solid #ccc;
  position: absolute;
  top: 200px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  z-index: 99;
  cursor: move;
}
.xyflyer .dynamic_content .dialog h3 {
  margin-bottom: 12px;
}
.xyflyer .dynamic_content .dialog .number {
  width: 45px;
}
.xyflyer .dynamic_content .dialog input {
  padding: 1px;
  margin-right: 12px;
}
.xyflyer .dynamic_content .dialog .button {
  margin-top: 12px;
  padding: 3px 12px;
  font-size: 15px;
}
.xyflyer .dynamic_content .editor_instructions {
  padding: 6px;
  overflow: hidden;
  margin-top: 60px;
}
.xyflyer .dynamic_content .editor_instructions p {
  font-size: 11px;
}
.xyflyer .dynamic_content .editor_instructions input {
  width: 240px;
  height: 30px;
}
.xyflyer .complete,
.xyflyer .message,
.xyflyer .exit_message {
  position: absolute;
  top: -1000px;
  left: -1000px;
  background-color: white;
  padding: 30px 60px;
  text-align: center;
  z-index: 98;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.xyflyer .menu {
  position: absolute;
  top: -1000px;
  left: -1000px;
  opacity: 0;
  background-color: #fafafa;
  border: 2px solid #a61c0e;
  width: 780px;
  height: 534px;
  overflow: auto;
  padding: 12px;
  z-index: 97;
}
.xyflyer .menu .close {
  float: right;
  margin: -6px -6px 0 0;
  color: #24aac3;
  font-size: 30px;
}
.xyflyer .menu .close:active {
  background-color: #145f6d;
}
.xyflyer .menu h2,
.xyflyer .menu h3,
.xyflyer .menu h4 {
  text-align: center;
}
.xyflyer .settings {
    height: 540px;
}
.xyflyer .settings h2 {
    font-size: 24px;
    font-weight: normal;
    margin: 30px;
}
.xyflyer .settings .player_selection {
    position: relative;
    background: url('images/level_selector_background.png') no-repeat center center;
    margin: 0 24px;
}
.xyflyer .settings .player_selection table {
    margin: -45px auto;
    text-align: center;
    border-spacing: 60px;
}
.xyflyer .settings .player_selection td {
    background-color: white;
    width: 120px;
    padding: 15px 0;
    border: 1px solid #ccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
.xyflyer .settings .player_selection .selected {
    background-image: url('images/background1.jpg');
}
.xyflyer .settings .player_details {
    text-align: center;
    margin-top: 12px;
    font-size: 18px;    
}
.xyflyer .settings .player_details h3 {
    padding-top: 15px;
    margin: 0;
}
.xyflyer .settings .player_details .edit_player {
    padding: 12px;
}
.xyflyer .settings .player_details .edit_player i {
    padding: 6px 12px;
}
.xyflyer .settings .player_details .form {
    font-size: 24px;
}
.xyflyer .settings .player_details .form .name {
    background-color: white;
    margin: 0 auto 12px auto;
    width: 300px;
    border: 1px solid #ccc;
    padding: 3px;
}
.xyflyer .settings .player_details .form .keyboard  {
    padding-left: 15px;
    line-height: 45px;
}
.xyflyer .settings .player_details .form .keyboard .letter {
    display: inline-block;
    padding: 3px 6px;
}
.xyflyer .settings .player_details .form .keyboard .letter span {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
}
.xyflyer .settings .player_details .form .hand input, .xyflyer .settings .player_details .form .hand label, .xyflyer .settings .player_details .form .actions a {
    display: inline-block;
    padding: 9px 0;
    font-size: 18px;
}
.xyflyer .settings .player_details .form .actions a span {
    padding: 6px 12px;
}
.xyflyer .settings .play_button {
    text-align: center;
    padding: 24px;
    margin-top: 30px;
}
.xyflyer .settings .play_button a {
    background-color: #24aac3;
    color: white;
    padding: 6px 12px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-size: 27px;
}
.xyflyer .settings .play_button i {
    font-size: 21px;
}
.xyflyer .level_selector .success {
  display: none;
}
.xyflyer .level_selector.success .success {
  display: block;
  margin-bottom: 12px;
}
.xyflyer .level_selector .world_links {
  background: url('images/level_selector_background.png') no-repeat center center;
  overflow: hidden;
}
.xyflyer .level_selector .world_links .world_link {
  float: left;
  cursor: pointer;
  margin: 15px 0 15px 69px;
  width: 72px;
  height: 74px;
  overflow: hidden;
}
.xyflyer .level_selector .world_links .world_link.selected img {
  margin-left: -72px;
}
.xyflyer .level_selector .world {
  clear: left;
  display: none;
}
.xyflyer .level_selector .world.selected {
  display: block;
}
.xyflyer .level_selector .world .stage {
  background-color: #eee;
  padding-top: 12px;
  margin: 12px auto 0 auto;
  width: 750px;
  overflow: hidden;
}
.xyflyer .level_selector .world .stage h4 {
  margin: 0;
}
.xyflyer .level_selector .world .stage .level {
  display: block;
  float: left;
  margin: 0 0 18px 18px;
  width: 55px;
  height: 55px;
  background: url('images/level_large.png') 0 0;
}
.xyflyer .level_selector .world .stage .level.locked {
  background-position: -55px 0;
}
.xyflyer .level_selector .world .stage .level.completed {
  background-position: -110px 0;
}
.xyflyer .level_selector .world .stage .level.active {
  background-position: 0 -55px;
}
.xyflyer .blue_button,
.xyflyer .red_button {
  border: 1px solid #ccc;
  padding: 3px 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: white;
  box-shadow: 2px;
  -webkit-box-shadow: 2px;
  -moz-box-shadow: 2px;
}
.xyflyer .blue_button {
  background-color: #24aac3;
}
.xyflyer .blue_button.active {
  background-color: #145f6d;
}
.xyflyer .red_button {
  background-color: #ff6e5f;
}
.xyflyer .red_button.active {
  background-color: #f81700;
}
.xyflyer .objects {
  position: absolute;
  top: -10000px;
  left: -10000px;
}
.xyflyer .editor {
  position: absolute;
  top: 390px;
  left: 600px;
  background-color: white;
  padding: 15px 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
  z-index: 98;
  cursor: move;
}
.xyflyer .editor h3 {
  text-align: center;
  margin-bottom: 12px;
}
.xyflyer .editor p {
  font-size: 11px;
}
.xyflyer .dialog .image {
  width: 160px;
  height: 120px;
  overflow: hidden;
  line-height: 120px;
  text-align: center;
}
.xyflyer .dialog .image img {
  cursor: pointer;
  vertical-align: middle;
}

@media screen and (device-aspect-ratio: 3/4) and (orientation:landscape) {
    .xyflyer {
        height: 768px;
        width: 1024px;
    }
    
    .xyflyer .dynamic_content {
        height: 768px;
        width: 1024px;
    }
    
    .xyflyer .dynamic_content .board { 
        height: 768px;
        width: 664px;
    }
    
    .xyflyer .dynamic_content .equation_area {
        margin: 3px 3px 0 0;
        height: 762px;
    }
     
    .xyflyer .level_selector {
        width: 840px;
        height: 645px;
    }
    
    .xyflyer .level_selector .world_links .world_link {
        margin: 15px 0 15px 81px;
    }
    
    .xyflyer .level_selector .world .stage {
        width: 780px;
        margin-top: 30px;
    }
    
    .xyflyer .level_selector .world .stage h4 {
        font-size: 21px;
        margin: 0 0 12px 0;
    }
    
    .xyflyer .level_selector .world .stage .level {
        margin: 0 0 30px 21px;        
    }    
}

@media screen and (device-aspect-ratio: 40/71) and (orientation:landscape) {
    .xyflyer {
        height: 640px;
        width: 1136px;
    }
    
    .xyflyer .dynamic_content {
        height: 640px;
        width: 1136px;
    }
    
    .xyflyer .dynamic_content .board { 
        height: 640px;
        width: 678px;
    }
    
    .xyflyer .dynamic_content .equation_area {
        margin: 3px 3px 0 0;
        height: 762px;
        width: 450px;
    }    
}
