= render partial: 'layouts/logo'


.row.py-2
  .col-xs-12.col-md-10.offset-md-1.offset-lg-2.col-lg-8
    %h4
      The Most Frequent Question
    %p
      The most frequent question we receive regarding the design of The Puzzle School
      is:
    %p
      %strong "What would a day in the life of a student look like?"
    %p
      This is pretty reasonable question. You can read all about the philosophy and
      underlying ideas, but the day to day structure matters a great deal and helps
      to make the abstract philosophy more tangible.
    %p
      Unfortunately it's a bit difficult to untangle the philosophy from the day
      to day activities. A primary goal of the philosophy is to be flexible and
      responsive to the needs of each individual students (within the constraints
      of the resources of the school). As such an individual student may experience
      a variety of experiences and may have an overall experience that is quite
      different from another student at The Puzzle School.
    %p
      That caveat aside, we've done our best to describe the day to day experience within
      the context of the philosophy below.


.row.py-3
  .col-xs-12.col-md-12.offset-lg-1.col-lg-10
    %h4 A Sample Schedule

    .row.py-2
      .col-xs-12.col-md-6{style: 'border-right: 1px solid #ccc;'}
        %h5 Philosophy
        %p
          The specifics of a given student's schedule will evolve as
          The Puzzle School grows and builds its capacity to support students in
          diverse directions. The schedule provided here shows a possible design
          for coordinated activities (e.g. a class or a club). All of these scheduled
          activities are optional. Students could, for example, engage in an independent
          project or an internship for the entire day.
        %p
          This means that some students may engage with the school in the traditional
          manner, taking courses and doing assignments. Another student may engage
          with the school in a completely self-directed manner, leveraging the school's
          resources in order to accomplish goals that are personally important to them.
        %p
          In all cases the students and parents will have to seek alignment around
          how best to approach their education. Similarly students will have to be prepare
          for the state standards and college (unless they choose an alternative path after
          graduation).
        %p
          Strategies for how best to approach these concerns may vary
          from student to student. Students will be expected to meet with an advisor
          1:1 at least one hour per week to review their progress and brainstorm new strategies
          for accomplishing these goals.




      .col-xs-12.col-md-6
        %h5 Day To Day

        .pt-1
          %strong 8am - 10am
          %ul
            %li Flexible Arrival / Independent Projects
        .pt-1
          %strong 10am - 11:45am
          %ul
            %li Program / Class Time
        .pt-1
          %strong 11:45am - 12:30pm
          %ul
            %li Lunch Time
        .pt-1
          %strong 12:30pm - 1:30pm
          %ul
            %li Flex Time (experimental programs, club meetings, etc)
        .pt-1
          %strong 1:30pm - 3:15pm
          %ul
            %li Program / Class Time
        .pt-1
          %strong 3:15pm - 5:15pm
          %ul
            %li Extracurricular (sports, clubs, etc)
        .pt-1
          %strong 5:15pm - 6pm
          %ul
            %li Flexible Departure
        .pt-1
          %strong Important Notes
          %ul
            %li.pt-1
              This is not a definitive design, just one possibility. Many factors
              may change this design before the school is opened.
            %li.pt-1
              All scheduled programs are optional. Students can use any
              time slot to engage in an independent project, internship, etc.
            %li.pt-1
              At some point each week each student will meet with an advisor
              1:1 for an hour.


.row.py-3
  .col-xs-12.col-md-12.offset-lg-1.col-lg-10
    %h4 Respect, Ownership, and Self-Direction

    .row.py-2
      .col-xs-12.col-md-6{style: 'border-right: 1px solid #ccc;'}
        %h5 Philosophy
        %p
          The primary goal of The Puzzle School is to support students toward
          taking ownership of their education, their lives, and the school itself,
          with an eye toward their future and their community.
        %p
          There are two primary aspects of this goal that we focus on:
        %ol
          %li
            The hypothesis that human beings do their best work when they feel like
            they have control of their lives, their decisions, etc.
          %li
            The observation that there are skills, processes, and techniques that can
            help all people be more observant and intentional in their lives, supporting
            their ability to navigate the world in a self-directed manner.
        %p
          The "puzzle" metaphor provides a great deal of value with regard to both aspects.
          It will create a common language around taking goals, breaking them down,
          and navigating them through experiments, constantly assessing for "fit".
        %p
          It is important to note that this does not imply that students should simply
          do what ever they want. Their decisions affect other people and the decisions
          of other people affect them, so they need to be conscious of how their decisions
          interact with their community, their future, etc.

      .col-xs-12.col-md-6
        %h5 Day To Day
        %p
          There are a number of techniques we hope to leverage to support students
          toward greater ownership and self-direction.
        %p
          We will seek feedback from students in numerous ways, asking them for their
          observations about programs, resources, how the school runs, etc. and inviting
          them to help us improve everything. As they come to trust that their feedback
          and ideas are respected, we believe they will become more empowered and will
          take greater control over all aspects of their education.
        %p
          Every student will have at least one independent (or small group) project or
          learning goal that they have designed for themselves with the help of an adult
          advisor. These can range from an independent project to an internship to an
          online course to a book club with friends to starting a company. The important
          part is that they have designed it themselves or with a group and have ownership
          over the idea and process.
        %p
          All requirements will be considered "Negotiated Competencies". Students will be
          encouraged to challenge the requirements and develop a rational for why their
          educational experience should be different with regard to their plans for the future.
          The goal will be to find alignment between students, parents, and the school with
          regard to any requirements.


.row.py-3
  .col-xs-12.col-md-12.offset-lg-1.col-lg-10
    %h4 Appreciation for the Present vs. Preparation for the Future

    .row.py-2
      .col-xs-12.col-md-6{style: 'border-right: 1px solid #ccc;'}
        %h5 Philosophy
        %p
          The Puzzle School seeks to help students design their live today
          in preparation for their future, but this also means appreciating
          and thriving today. Finding the right balance between learning and
          creating in an effort to gain acceptance to college or build a resume,
          etc. vs thriving in a healhy manner and enjoying the present moment
          is one of the greatest challenges we all face, but especially students.
        %p
          The "puzzle" metaphor provides a bridge between many of these concerns.
          Students can develop their skills toward goals that are personally important
          to them now making the application of those skills toward future goals more effective.
        %p
          As students become more thoughtful about their goals, both short term and long term,
          more observant of their own behaviors and strategic about their actions
          the specifics of what they are learning become less important. Students who develop
          these critical thinking skills will be more capable of learning what ever
          is necessary as needed.
        %p
          The Puzzle School combines this with requirements and dialog with advisors students
          in order to help students think about their future more effectively. While this does
          not guarantee a successful balancing of these concerns, it does provide multiple
          ways for students, teachers, and parents, to iterate toward an effective balance.


      .col-xs-12.col-md-6
        %h5 Day To Day
        %p
          Students, advisors, and parents will engage in frequent dialog
          around how to find the best balance between thriving in the present
          and preparing for the future.
        %p
          One primary strategy will be to explore what is important to the student now.
          Even younger students may have a sense of what interests them or what kind
          of life they want to live in the future. Working toward such goals can create
          an alignment between thriving in the present and future preparation.
        %p
          They may be interested in present day challenges, such as helping to run the school,
          exploring how the school budget is spent or how discipline works, etc. Or they may be
          interested in saving up for a big purchase, such as a car. Many of these present day goals
          will help students prepare for their future through contexts that are relevant and
          interesting today. All of these goals provide an opportunity for students
          to engage in the puzzle-solving process and develop their skills of observing,
          ideating, testing, and iterating.
        %p
          Sometimes, though, it will be necessary for students to engage in something that
          is more directly about preparing for the future or thriving in the present. As a school
          we will try to support both necessary relaxation, socialization, and fun that is
          crucial to a healthy childhood, as well as the skills that may be expected in the future
          such as test taking, completing assignments on time, etc., that is worth doing as preparation
          even if it isn't always enjoyable.


.row.py-3
  .col-xs-12.col-md-12.offset-lg-1.col-lg-10
    %h4 Personal Interests vs. Requirements

    .row.py-2
      .col-xs-12.col-md-6{style: 'border-right: 1px solid #ccc;'}
        %h5 Philosophy
        %p
          The Puzzle School has a distinct focus on supporting students toward
          their personal interests. We feel there is nothing more important
          than a student who understands who they are; a student who is reflective
          about their strengths, weaknesses, interests, goals, etc. Supporting
          students in this exploration and the activities that arise out of this
          exploration is a big part of The Puzzle School experience.
        %p
          At the same time we have heard from graduates of alternative educational
          models that they were unprepared when they reached college or they
          may have regreted not learning some of the foundational skills, such as
          gaining a better intuition for math.
        %p
          Some requirements are also important to the school itself. State standards
          must be reached in order for the school to stay in operation.
        %p
          In general believe that dialog presents the best opportunity to navigate these challenges.
          We believe that students, when provided opportunities to act responsibly,
          often rise to the challenge. As such The Puzzle School will present students
          with the best description of the challenges they may face in their future or
          that the school faces today and will work with students to find strategies
          that students have ownership of and that can be tested and validated.



      .col-xs-12.col-md-6
        %h5 Day To Day
        %p
          The Puzzle School will explore a variety of strategies for providing
          students with space to explore their interests without ignoring
          requirements / best practices for college, career, and life preparation.
          Some of these strategies will include:
        %ul
          %li.pt-1
            %strong Negotiated Competencies
            %br
            Students will have to demonstrate competency in required areas but will have
            the opportunity to negotiate these requirements if they can provide thoughtful
            reasons why a different requirement will better serve their chosen path.
          %li.pt-1
            %strong Advisor Discussions
            %br
            Weekly discussions with advisors will ensure that students have someone to
            discuss their personal exploration with who can help them brainstorm on how
            to move toward personal goals. Advisors will also be responsible for ensuring students
            do not slip through the cracks and are making progress on their competencies.
          %li.pt-1
            %strong Recent Graduate Mentorship
            %br
            As soon there are graduates from The Puzzle School we will seek to connect them with
            current students to provide advice on college and life after The Puzzle School
            from the perspective of a recent graduate.
          %li.pt-1
            %strong Community Mentorship & Internships
            %br
            Meeting with other adult mentors or leaving the school to engage in an internship both
            provide opportunities for students to gain exposure to the requirements of
            college, jobs, and life after The Puzzle School.



.row.py-3
  .col-xs-12.col-md-12.offset-lg-1.col-lg-10
    %h4 Flexible and Responsive vs. Structure and Stability

    .row.py-2
      .col-xs-12.col-md-6{style: 'border-right: 1px solid #ccc;'}
        %h5 Philosophy
        %p
          The Puzzle School will practice the "puzzle" philsophy itself.
          We will constantly seek to become more flexible and responsive to
          student needs as they come up.
        %p
          At the same time it is important to provide an structured environment
          that effectively utilizes resources and provides students with the help
          they need while developing their skills for self-direction.
        %p
          By making all programs optional and providing opportunities for students
          to provide feedback, The Puzzle School hopes to be able to offer structure
          without compromising on student agency.




      .col-xs-12.col-md-6
        %h5 Day To Day
        %p
          The Puzzle School will rely heavily on two ideas to provide
          flexibity and to be responsive to students without devolving into chaos.
        %ul
          %li
            %strong Self-Directed Pathways
            %br
            Every student at The Puzzle School will have an ongoing self-directed
            pathway they are working on. The size and complexity of this pathway will
            vary from student to student, but all will have one. These pathways
            provide something for students to work on if they are not interested in
            the programs being offered at any given time. This way, if something is not
            working well then a student can engage in their self-directed work instead.

          %li.pt-1
            %strong Opt-In Programs and Feedback
            %br
            Stuctured programs and classes will be offered but students will always
            have the option of not attending them. Students will also be asked for feedback
            around how to improve a program. This way, if a program is not working for
            a student, then either the teacher can adjust the program to acommodate the
            student's concerns or the student can leave the program and pursue
            their self-directed pathway instead. This will help to ensure that resources
            are not ineffectively used on students who do not want them.


= render Subscriber.new
