.splash-container
  .splash
    %h1.splash-head= image_tag('logo.png', class: 'logo')
    %p.splash-subhead
      A new public K-12 school in the exploratory stage
      %br
      Cambridge/Boston
      
    %br
    
    .quote
      “If you want to build a ship, don't drum up people to collect wood and don't assign them tasks and work, but rather teach them to long for the endless immensity of the sea.”
      .right
        – Antoine de Saint-Exupery
      
