= render partial: 'layouts/logo'

.row
  .col-xs-12.text-xs-center
    %p
      “Who in the world am I? Ah, that's the great puzzle.” ~ Lewis Carroll
    %p
      “Math, it's a puzzle to me. I love figuring out puzzles.” ~ Maya Lin
    %p
      “Once I get on a puzzle, I can't get off.” ~ Richard Feynman
    %p
      “Creativity is just connecting things.” ~ Steve Jobs
    %p
      “For me, writing a novel is like solving a puzzle.” ~ Mohsin Hamid
    %p
      “The puzzle of solving the murder is what drives him on.” ~ John Thaw
    %p
      “As a kid, I just got lost in the puzzle of acting, the magic of it.” ~ Michael J. Fox


.row.py-3
  .col-xs-12.text-xs-center
    = link_to('Learn More', learn_more_path, class: 'btn btn-outline-primary btn-lg mx-2 px-3')
    = link_to('Current Programs', programs_path, class: 'btn btn-outline-primary btn-lg mx-2')


= render Subscriber.new
