body {
  background-color: #24aac3;
  padding: 0;
  margin: 0;
  background: #fafafa url('images/wood.jpg');
  font-size: 24px;
}
.foreign {
  background: #fafafa url('images/wood_foreign.jpg');
}

.text-center {
    text-align: center;
}
.small {
    font-size: 12pt;
}
.language_scramble {
  background-color: #fafafa;
}
.language_scramble .display_words .words,
.language_scramble .scrambled .words,
.language_scramble .correct .papered {
  background-image: url('images/paper-middle.png');
  background-position: center 12px;
  background-repeat: repeat-x;
  display: inline-block;
  position: relative;
  line-height: 90px;
}
.language_scramble .display_words .words::before,
.language_scramble .scrambled .words::before,
.language_scramble .correct .papered::before {
  background-image: url('images/paper-left.png');
  background-position: left 12px;
  background-repeat: no-repeat;
  content: "\00a0";
  display: inline-block;
  width: 42px;
  position: absolute;
  top: 0;
  left: -42px;
}
.language_scramble .display_words .words::after,
.language_scramble .scrambled .words::after,
.language_scramble .correct .papered::after {
  background-image: url('images/paper-right.png');
  background-position: right 12px;
  background-repeat: no-repeat;
  content: "\00a0";
  display: inline-block;
  width: 42px;
  position: absolute;
  top: 0;
  right: -42px;
}
.language_scramble .display_words .highlighted,
.language_scramble .scrambled .highlighted {
    background-color: rgba(36, 219, 75, 0.8);
    padding: 0 6px;
    display: inline-block;
    line-height: 42px;
    height: 45px;
}
.language_scramble .section {
  font-size: 30pt;
  margin: 0;
}
.language_scramble .guesses,
.language_scramble .scrambled {
  clear: left;
}
.language_scramble .guesses .container,
.language_scramble .scrambled .container {
  float: left;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.language_scramble .guesses .container .word_group,
.language_scramble .scrambled .container .word_group {
  float: left;
}
.language_scramble .guesses .guess,
.language_scramble .scrambled .guess,
.language_scramble .guesses .letter,
.language_scramble .scrambled .letter,
.language_scramble .guesses .blank_letter,
.language_scramble .scrambled .blank_letter,
.language_scramble .guesses .space,
.language_scramble .scrambled .space {
  float: left;
  margin: 3px;
  vertical-align: top;
}
.language_scramble .guesses .guess,
.language_scramble .scrambled .guess {
  background: transparent url('images/sunken.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.language_scramble .guesses .guess::before,
.language_scramble .scrambled .guess::before {
  display: block;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  margin-top: 9%;
  margin-left: 12%;
  width: 72%;
  height: 72%;
  content: "\00a0";
  border-width: 2px;
  border-style: dashed;
}
.language_scramble .guesses .guess:after,
.language_scramble .scrambled .guess:after {
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-top: -84%;
  margin-left: 9%;
  width: 90%;
  height: 90%;
  content: "\00a0";
}
.language_scramble .guesses .color1 .guess::before,
.language_scramble .scrambled .color1 .guess::before {
  border-color: #1663EB;
}
.language_scramble .guesses .color1 .guess::after,
.language_scramble .scrambled .color1 .guess::after {
  background-color: rgba(12, 59, 141, 0.2);
}
.language_scramble .guesses .color2 .guess::before,
.language_scramble .scrambled .color2 .guess::before {
  border-color: #ffbd2a;
}
.language_scramble .guesses .color2 .guess::after,
.language_scramble .scrambled .color2 .guess::after {
  background-color: rgba(194, 132, 0, 0.2);
}
.language_scramble .guesses .color3 .guess::before,
.language_scramble .scrambled .color3 .guess::before {
  border-color: purple;
}
.language_scramble .guesses .color3 .guess::after,
.language_scramble .scrambled .color3 .guess::after {
  background-color: rgba(128, 0, 127, 0.2);
}
.language_scramble .guesses .color4 .guess::before,
.language_scramble .scrambled .color4 .guess::before {
  border-color: white;
}
.language_scramble .guesses .color4 .guess::after,
.language_scramble .scrambled .color4 .guess::after {
  background-color: rgba(255, 255, 255, 0.2);
}
.language_scramble .guesses .color5 .guess::before,
.language_scramble .scrambled .color5 .guess::before {
  border-color: #0c6d7f;
}
.language_scramble .guesses .color5 .guess::after,
.language_scramble .scrambled .color5 .guess::after {
  background-color: rgba(12, 109, 126, 0.2);
}
.language_scramble .guesses .color6 .guess::before,
.language_scramble .scrambled .color6 .guess::before {
  border-color: #ff922a;
}
.language_scramble .guesses .color6 .guess::after,
.language_scramble .scrambled .color6 .guess::after {
  background-color: rgba(255, 144, 41, 0.2);
}
.language_scramble .guesses .color7 .guess::before,
.language_scramble .scrambled .color7 .guess::before {
  border-color: black;
}
.language_scramble .guesses .color7 .guess::after,
.language_scramble .scrambled .color7 .guess::after {
  background-color: rgba(0, 0, 0, 0.2);
}
.language_scramble .guesses .color8 .guess::before,
.language_scramble .scrambled .color8 .guess::before {
  border-color: pink;
}
.language_scramble .guesses .color8 .guess::after,
.language_scramble .scrambled .color8 .guess::after {
  background-color: rgba(255, 194, 204, 0.2);
}
.language_scramble .guesses .letter,
.language_scramble .scrambled .letter {
  background: transparent url('images/tile.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: pointer;
  text-indent: 5px;
}
.language_scramble .guesses .letter.sized::after,
.language_scramble .scrambled .letter.sized::after {
  display: block;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  margin-top: -81%;
  margin-left: 15%;
  width: 71%;
  height: 71%;
  content: "\00a0";
  border-width: 2px;
  border-style: solid;
}
.language_scramble .guesses .letter.dragging,
.language_scramble .scrambled .letter.dragging {
  background: transparent url('images/tile-dragging.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 1% 1% 1.5% 1.5%;
}
.language_scramble .guesses .letter.dragging.sized::after,
.language_scramble .scrambled .letter.dragging.sized::after {
  margin-top: -84%;
  margin-left: 12%;
  width: 76%;
  height: 76%;
}
.language_scramble .guesses .color1 .letter::after,
.language_scramble .scrambled .color1 .letter::after {
  border-color: #1663EB;
}
.language_scramble .guesses .color2 .letter::after,
.language_scramble .scrambled .color2 .letter::after {
  border-color: #ffbd2a;
}
.language_scramble .guesses .color3 .letter::after,
.language_scramble .scrambled .color3 .letter::after {
  border-color: purple;
}
.language_scramble .guesses .color4 .letter::after,
.language_scramble .scrambled .color4 .letter::after {
  border-color: white;
}
.language_scramble .guesses .color5 .letter::after,
.language_scramble .scrambled .color5 .letter::after {
  border-color: #0c6d7f;
}
.language_scramble .guesses .color6 .letter::after,
.language_scramble .scrambled .color6 .letter::after {
  border-color: #ff922a;
}
.language_scramble .guesses .color7 .letter::after,
.language_scramble .scrambled .color7 .letter::after {
  border-color: black;
}
.language_scramble .guesses .color8 .letter::after,
.language_scramble .scrambled .color8 .letter::after {
  border-color: pink;
}
.language_scramble .guesses .correct,
.language_scramble .scrambled .correct {
  text-align: center;
}
.language_scramble .guesses .correct .tap,
.language_scramble .scrambled .correct .tap {
  margin: auto;
  background-image: url('images/wide_button.png');
  display: block;
  margin-top: 60px;
  height: 92px;
  width: 372px;
  line-height: 81px;
  text-indent: 20px;
  font-size: 45px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.language_scramble .correct .tap div {
  padding: 30px 0 0 6px;
}
.language_scramble .guesses .hidden_message {
  display: none;
  position: absolute;
  font-size: 21px;
  line-height: 72px;
}
.language_scramble .guesses .hidden_message span {
  background-image: url('images/paper-middle.png');
  background-position: center 12px;
  background-repeat: repeat-x;
  display: inline-block;
  position: relative;
  -webkit-background-size: 123px;
  -moz-background-size: 123px;
  -o-background-size: 123px;
  background-size: 123px;
}
.language_scramble .guesses .hidden_message span::before {
  background-image: url('images/paper-left.png');
  background-position: left 12px;
  background-repeat: no-repeat;
  content: "\00a0";
  display: inline-block;
  width: 28px;
  position: absolute;
  top: 0;
  left: -28px;
  -webkit-background-size: 28px;
  -moz-background-size: 28px;
  -o-background-size: 28px;
  background-size: 28px;
}
.language_scramble .guesses .hidden_message span::after {
  background-image: url('images/paper-right.png');
  background-position: right 12px;
  background-repeat: no-repeat;
  content: "\00a0";
  display: inline-block;
  width: 28px;
  position: absolute;
  top: 0;
  right: -28px;
  -webkit-background-size: 28px;
  -moz-background-size: 28px;
  -o-background-size: 28px;
  background-size: 28px;
}
.language_scramble .guesses.hidden {
  position: relative;
}
.language_scramble .scrambled.hidden {
  margin-top: -10000px;
}
.language_scramble .guesses.hidden .letter,
.language_scramble .scrambled.hidden .letter,
.language_scramble .guesses.hidden .guess,
.language_scramble .scrambled.hidden .guess,
.language_scramble .guesses.hidden .space,
.language_scramble .scrambled.hidden .space {
  visibility: hidden;
}
.language_scramble .guesses.hidden .hidden_message,
.language_scramble .scrambled.hidden .hidden_message {
  display: block;
  left: 236px;
  top: 72px;
}
.language_scramble .guesses .color1 .correct_letter::after,
.language_scramble .guesses .color2 .correct_letter::after,
.language_scramble .guesses .color3 .correct_letter::after,
.language_scramble .guesses .color4 .correct_letter::after,
.language_scramble .guesses .color5 .correct_letter::after,
.language_scramble .guesses .color6 .correct_letter::after,
.language_scramble .guesses .color7 .correct_letter::after,
.language_scramble .guesses .color8 .correct_letter::after {
  border-color: #24d94c;
}
.language_scramble .guesses .color1 .wrong_letter::after,
.language_scramble .guesses .color2 .wrong_letter::after,
.language_scramble .guesses .color3 .wrong_letter::after,
.language_scramble .guesses .color4 .wrong_letter::after,
.language_scramble .guesses .color5 .wrong_letter::after,
.language_scramble .guesses .color6 .wrong_letter::after,
.language_scramble .guesses .color7 .wrong_letter::after,
.language_scramble .guesses .color8 .wrong_letter::after {
  border-color: red;
}
.language_scramble .guesses.hidden .letter {
  visibility: visible;
}
.language_scramble .guesses.hidden .hidden_message {
  left: 250px;
  top: 72px;
}
.language_scramble.foreign .scramble_content .guesses .guess {
  background: transparent url('images/sunken_foreign.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.language_scramble .floating_message {
    position: absolute;
    top: -1000px;
    left: -1000px;
    opacity: 0;
    text-align: center;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background-color: #fafafa;
    padding: 60px;
}
.language_scramble .floating_message a {
    color: blue;
    text-decoration: underline;
}
.language_scramble .last_answer .highlighted {
  background-color: rgba(36, 219, 75, 0.25);
  padding: 0 3px;
}
.language_scramble .levels {
  padding: 0 88px;
  text-align: center;
}
.language_scramble .levels .level {
  background-color: #fdfdfd;
  border: 1px solid #ccc;
  float: left;
  margin: 12px 0 12px 30px;
  width: 330px;
}
.language_scramble .levels .level .level_link {
  display: block;
  height: 48px;
}
.language_scramble .levels .level .percent_complete {
  opacity: 0.3;
  margin-top: -48px;
  overflow: hidden;
  height: 48px;
  float: left;
  background-color: #0c8d28;
}
.language_scramble .level_progress_meter {
  width: 100%;
  position: absolute;
  left: 0;
  bottom:6px;
}
.language_scramble .level_progress_meter::after {
  display: block;
  content: "\00a0";
  width: 100%;
  height: 30px;
  background: transparent url('images/progress.png') no-repeat;
  bottom: 0;
  z-index: 3;
  position: absolute;
}
.language_scramble .level_progress_meter .percent_complete {
  display: block;
  overflow: hidden;
  float: left;
  -moz-box-shadow: inset 0px 1px 0px 0px #64e581;
  -webkit-box-shadow: inset 0px 1px 0px 0px #64e581;
  box-shadow: inset 0px 1px 0px 0px #64e581;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #38de5d), color-stop(1, #20c344));
  background: -moz-linear-gradient(center top, #38de5d 5%, #20c344 100%);
  background-color: #38de5d;
  height: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: -12px 0 0 21px;
  width: 300px;
}

.language_scramble .progress_meter {
    position: absolute;
    top: -10000px;
    left: -10000px;
}

.language_scramble .scramble_content .menu_button, .language_scramble #close_menu_button {
    display: block;
    background-color: black;
    cursor: pointer;
}

.language_scramble .scramble_content .menu_button {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 30px;
    text-align: center;
    padding: 9px 18px 12px 18px;
    text-indent: 9px;
    background: transparent url('images/medium_button.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.language_scramble #close_menu_button {
    float: right;
    margin-right: 6px;
    text-decoration: none;
    color: white;
    padding: 3px 6px;
}   

.language_scramble #level_select_menu {
    background-color: white;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.language_scramble #level_select_menu h2 {
    width: 14em;
    margin: 12px auto;
}

.language_scramble #level_select_menu .level {
    margin: 0 auto 12px auto;
    padding: 3px;
    float: none;
}

.language_scramble #level_select_menu .level_link {
    text-decoration: none;
}

.language_scramble #level_select_menu .level_link small {
    color: #333;
}
.language_scramble .keyboard_container {
    position: absolute;
    top: 360px;
    left: 0px; 
}
.language_scramble .hide_keyboard .keyboard_container {
    top: -10000px;
    left: -10000px;
}
.language_scramble .keyboard  {
    padding-left: 18px;
    font-size: 45px;
    text-align: center;
}
.language_scramble .keyboard .letter {
    display: inline-block;
    padding: 6px;
}
.language_scramble .keyboard .letter span {
    display: inline-block;
    height: 72px;
    line-height: 66px;
    text-indent: 3px;
    width: 72px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.language_scramble .blue_button {
  background-image: url('images/tile.png');
}
.language_scramble .blue_button.active {
  background-color: #145f6d;
}
.language_scramble .red_button {
  background-image: url('images/tile.png');
}
.language_scramble .red_button.active {
  background-color: #f81700;
}

