<img class='page_image' src='/assets/images/reviews/circuitous.jpg'/>

<div class='page'>
    
    <h1 class='logo upcase'>
        <img src='/assets/images/logo_icon.png'/>
        Circuitous
    </h1>
    
    <div class='circuitous {:editor}editor{/editor}' data-level_id={level_id}> 
        <div class='all_levels'>
            <div class='levels_container'>
                <h1>Levels</h1>
            </div>
            <a class='back_to_challenge'>
                Back To<br/>
                <i class='icon-double-angle-down'></i> Challenge <i class='icon-double-angle-down'></i>
            </a>
        </div>
                
        <div class='game'>       
            <div class='board'>
                <div class='cells'>
                    <div class='wires'></div>
                    <div class='electrons'></div>
                </div>
            </div>
            <div class='right_side'>
                {:editor}
                <table class='options'></table>
                <div class='menu'></div>
                {/editor}
                {!editor}
                <div class='info'>
                    <div class='intro'><h2>Welcome To Circuitous</h2></div>
                    <div class='challenge'>
                        <h2>The Challenge</h2>
                        <h3 class='description'></h3>
                        <div class='hints'></div>
                    </div>
                </div>
                <!-- <div class='instructions'>
                    <h3>Instructions</h3>
                    <ol>
                        <li>Draw anywhere on the board to create a wire.</li>
                        <li>Draw over a wire to erase it.</li>
                        <li>Drag any component to move it.</li>
                        <li>Click a component to edit it.</li>
                    </ol>
                </div> -->
                <table class='control_panel'>
                    <tbody>
                        <tr>
                            <td colspan=2>
                                <a class='control add_component'>Add Component</a>
                            </td>
                        </tr>
                        <tr><td></td><td></td></tr>
                        <tr>
                            <td>
                                <a class='control select_level'>Select Level</a>
                            </td>
                            <td>
                                <a class='control all_levels_link'>All Levels</a>
                            </td>
                        </tr>
                        <tr><td></td><td></td></tr>
                        <tr>
                            <td>
                                <div class='control values'>
                                    <h4><a class='show_values off'></a></h4> 
                                </div>
                            </td>
                            <td>
                                <a class='control schematic_mode'>Schematic Mode</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                {/editor}            
            </div>
            <div class='modal_menu'><div class='close'></div><div class='content'></div></div>                    
        </div>
    </div>

    <div class='load_instructions'>
        <div class='instructions load'>
            <h4>Load Instructions</h4>
            <textarea></textarea>
            <button>Load</button>
        </div>
        <div class='instructions get'>
            <h4>Instructions</h4>
            <textarea></textarea>
        </div>
        <div class='instructions get_values'>
            <h4>Values</h4>
            <textarea></textarea>
        </div>
    </div>

</div>