<img class='page_image' src='/assets/images/reviews/language_scramble.jpg'/>

<div class='page language_scramble' data-languages={languages} data-level_name={levelName} data-puzzle_data={puzzleData}>
    
    <h1 class='logo upcase'>
        <img src='/assets/images/logo_icon.png'/>
        Language Scramble
    </h1>

    <div class='scramble_content hide_keyboard'>
        <!-- <h2 class='clear text-center'>Translate the green word(s)</h2> -->

        <div class="section display_words text-center"></div>
        <div class="section guesses text-center">
            <div class='hidden_message medium_message'>
                <span class='papered'>
                    The blank spaces are hidden, tap on a letter to place it.
                </span>
            </div>
            <div class='hidden_message hard_message'>
                <span class='papered'>
                    The scrambled letters are hidden. You'll have to type the answer.
                </span>
            </div>
        </div>
        <textarea id='clickarea'></textarea>
        <div class="section scrambled text-center"></div>
        <div class='dictionary'></div>
        <div class='level_progress_meter'>
            <div class='percent_complete_container'><div class='percent_complete'></div></div>
        </div>
    </div>
    <!-- <br/><br/>
    <div class='text-center'>(type, click, or drag the letters in to the blank spaces)</div>
    <br/> -->
    <div id='next_level' class='floating_message'>
        <h2>Nice Work!</h2>
        <p>You seem to have mastered this level</p>
        <p>Select a level from the list below</p>
        <p>...or you can <a class='reset_level_link'>reset this level</a> if you want to play it again.</p>
    </div>
    <div id='last_level' class='floating_message'>
        <h2>Nice Work!</h2>
        <p>You seem to have mastered this level</p>
        <p>We don't have any other levels right now.</p>
        <p>Please email us to let us know you'd like us to add more levels</p>
        <p><a href='mailto:info@puzzleschool.com'>info@puzzleschool</a></p>
    </div>
    <div id='native_select_menu' class='floating_message'>
        <a class='close_menu_button'><span></span></a>
        <h2 class='papered'>What Is Your Native Language?</h2>
    </div>
    <div id='foreign_select_menu' class='floating_message'>
        <a class='close_menu_button'><span></span></a>
        <h2 class='papered'>Select A Language</h2>
        <div class='levels_container'><div class='levels_group'></div></div>
    </div>
    <div id='italian_select_menu' class='levels floating_message'>
        <a class='up_menu_button'><span></span></a>
        <a class='close_menu_button'><span></span></a>
        <h2 class='papered'>Select A Level</h2>
        <div class='levels_container'></div>
        <a class='navigation previous'></a>
        <a class='navigation next'></a>
    </div>        
    <div id='spanish_select_menu' class='levels floating_message'>
        <a class='up_menu_button'><span></span></a>
        <a class='close_menu_button'><span></span></a>
        <h2 class='papered'>Select A Level</h2>
        <div class='levels_container'></div>
        <a class='navigation previous'></a>
        <a class='navigation next'></a>
    </div>   
</div>