<div class='neurobehav' data-level_id={levelId} data-class_id={classId}>
    <div class='board'></div>
    <div class='sidebar'>
        <div class='model'><img src='/assets/images/puzzles/neurobehav/heart.jpg'/></div>
        <div class='oscilloscope'></div>
        <div class='properties'></div>
    </div>
    {:custom}
        <div class='custom_level'>
            <textarea class='level_description'></textarea>
            <button class='load_to_play'>Load To Play</button>
        </div>
        <button class='load_custom_level_data'>Load Custom Level Data</button>
    {/custom}    
</div>