<div class='space_fractions' data-level_name={levelName}>
    <div class='board'></div>
    <div class='sidebar'>
        <div class='options'></div>
        {!editor}
            <div class='menu'>
                <h3>Menu</h3>
                <p><a class='hint'>I'm stuck, show me a piece of the solution.</a></p>
                <div class='hint_message hint_drag_message'>Drag this piece</div>
                <div class='hint_message hint_drop_message'>Drop it here</div>
            </div>
            <div class='success'>
                <h2>Success!</h2>
                <p>You've completed this challenge.</p>
                Click anywhere to review your solution (hide this message).
            </div>
        {/editor}   
        {:intro}
            <div class='intro'>
                <h3>Welcome To Space Fractions</h3>
                <p>We don't yet have a full suite of levels to play, but you can get started with one of these levels:</p>
                <ul>
                    <li><a href="/puzzles/space_fractions/custom#(~o-%5B(~t-!lr'~i-21)'(~t-!tsrd'~i-25)'(~t-!sr'~i-28'~fN-*1*'~fD-*2*)'(~t-!sd'~i-75'~fN-*1*'~fD-*2*)%5D'~v-~u)">
                        Basic
                    </a></li>
                    <li><a href="/puzzles/space_fractions/custom#(~o-%5B(~t-!su'~i-15'~fN-*3*'~fD-*4*)'(~t-!lr'~i-31'~n-*1*'~d-*2*)'(~t-!trd'~i-38)'(~t-!tur'~i-53)'(~t-!alru'~i-55)'(~t-!mtl'~i-57)'(~t-!tdl'~i-58)'(~t-!tlu'~i-73)'(~t-!ll'~i-78'~n-*1*'~d-*4*)%5D'~v-~u)">
                        A Little Harder
                    </a></li>                    
                    <li><a href="/puzzles/space_fractions/custom#(~o-%5B(~t-!sl'~i-1'~fN-*1*'~fD-*3*)'(~t-!tul'~i-3)'(~t-!tld'~i-16)'(~t-!ll'~i-18'~n-*1*'~d-*2*)'(~t-!tsur'~i-21)'(~t-!alru'~i-23)'(~t-!tul'~i-25)'(~t-!twsu'~i-41)'(~t-!tsru'~i-45)'(~t-!sr'~i-48'~fN-*1*'~fD-*6*)'(~t-!lu'~i-81)'(~t-!tdr'~i-86)'(~t-!sr'~i-88'~fN-*1*'~fD-*2*)%5D'~v-~u)">
                        Pretty Hard
                    </a></li>
                    <li><a href="/puzzles/space_fractions/custom#(~o-%5B(~t-!ld'~i-11'~n-*1*'~d-*3*)'(~t-!tur'~i-15)'(~t-!tsrd'~i-18)'(~t-!tdr'~i-31)'(~t-!twsr'~i-35)'(~t-!trd'~i-37)'(~t-!r'~i-40)'(~t-!r'~i-41)'(~t-!r'~i-42)'(~t-!r'~i-50)'(~t-!r'~i-51)'(~t-!r'~i-52)'(~t-!mtd'~i-55)'(~t-!audr'~i-57)'(~t-!sr'~i-59'~fN-*2*'~fD-*9*)'(~t-!tur'~i-61)'(~t-!tru'~i-67)'(~t-!tdr'~i-75)'(~t-!alrd'~i-77)'(~t-!tdl'~i-78)'(~t-!lu'~i-81'~n-*1*'~d-*9*)'(~t-!sd'~i-97'~fN-*1*'~fD-*6*)'(~t-!twsd)'(~t-!mtd)'(~t-!audl)'(~t-!trd)%5D'~v-~u)">
                        Even Harder
                    </a></li>
                </ul>
                <p>
                    You can also try creating your own level in the
                    <a href='/puzzles/space_fractions/editor'>Level Editor</a>.
                    Just click on an empty square on the board to select a piece of your puzzle to place there.
                </p>
            </div>
        {/intro}    
    </div>
    {:custom}
        <div class='custom_level'>
            <textarea class='level_description'></textarea>
            <button class='load_to_play'>Load To Play</button>
        </div>
        <button class='load_custom_level_data'>Load Custom Level Data</button>
    {/custom}
    
    <div class='explanation'>
        Space Fractions is a remix of the fractions game, <a href='/reviews'>Refraction</a>, 
        developed by the University of Washington's Center for Game Design. You can read a 
        little more about the changes we've made and why <a href='/puzzles#space_fractions'>here.</a>
    </div>
</div>