<div class='space_fractions' data-level_id={levelId} data-class_id={classId}>
    <div class='board'></div>
    <div class='sidebar'>
        <div class='options'></div>
        {!editor}
            <div class='menu'>
                <h3>Menu</h3>
                <p><a class='instructions_link'>Instructions</a></p>
                <p><a class='hint'>I'm stuck, show me a piece of the solution</a></p>
                <div class='hint_message hint_drag_message'>Drag this piece</div>
                <div class='hint_message hint_drop_message'>Drop it here</div>
                <p><a class='show_level_selector'>Select a new level</a></p>
            </div>
            <div class='success'>
                <h2>Success!</h2>
                <p>You've completed this challenge.</p>
                <p>Click on the board to review your solution (hide this message).</p>
                <p>Or <a class='show_level_selector'>select a new level</a>.</p>
            </div>
            <div class='level_selector_link'>
                <a class='show_level_selector'>Select A New Level</a>
            </div>
            <div class='instructions'>
                <h2>Instructions</h2>
                <p>A quick overview</p>
                <ul>
                    <li>
                        <p>Complete the puzzle by directing the right amount of laser in to the lightbulbs to turn them yellow.</p>
                    </li>
                    <li>
                        <p>If the lightbulb turns blue there is too little laser, if it turns red there is too much laser.</p>
                    </li>
                    <li>
                        <p>Drag pieces on to the board from the right hand sidebar to manipulate the laser.</p>
                    </li>
                    <li>
                        <p>Click on a piece to learn more about what it does.</p>
                    </li>
                </ul>
                <br/>
                <h3>The Goal</h3>
                <p>Direct the correct fraction of laser in to each lightbulb in order to light it up yellow.</p>
                <img src='/assets/images/puzzles/space_fractions/complete_system.png'/>
                <p>The lightbulb will turn blue if it has too little laser. If it turns red, it has too much laser.</p>
                <img src='/assets/images/puzzles/space_fractions/wrong_laser.png'/>
                <br/><br/>
                <h3>Options</h3>
                <p>Drag pieces from the right hand area on to the board to complete the puzzle.</p>
                <img src='/assets/images/puzzles/space_fractions/dragging_example.png'/>
                <br/><br/>
                <h3>Pieces</h3>
                <p>Click on a piece to read more about what it does.</p>
                <img src='/assets/images/puzzles/space_fractions/tip_example.png'/>
                <br/><br/><br/>
                <h3>Get Started</h3>
                <p>So try to solve each puzzle using the pieces available to make all of the lightbulbs light up yellow.</p>
                <p>You'll master fractions before you know it!</p>                
            </div>
            <div class='intro'>
                <div class='intro_message'>
                    <h3>Welcome To Light It Up</h3>
                    <p>We don't yet have a full suite of levels to play, but you can get started with one of these levels:</p>
                </div>
                <h4 class='level_selection_message'>Select A Level</h4>
                <ul>
                    <li>
                        Basics
                        <ul>
                            <li><a href="/puzzles/light_it_up/custom#(~o-%5B(~t-!lr'~i-21)'(~t-!tsrd'~i-25)'(~t-!sr'~i-28'~fN-*1*'~fD-*2*)'(~t-!sd'~i-75'~fN-*1*'~fD-*2*)%5D'~v-~u)">
                                Basic Fraction
                            </a></li>
                            <li><a href="/puzzles/light_it_up/custom#(~o-%5B(~t-!tur'~i-3)'(~t-!sr'~i-9'~fN-*2*'~fD-*8*)'(~t-!lu'~i-90)'(~t-!lu'~i-91'~n-*1*'~d-*2*)'(~t-!lu'~i-92'~n-*1*'~d-*3*)'(~t-!lu'~i-93'~n-*1*'~d-*4*)'(~t-!lu'~i-94'~n-*1*'~d-*5*)%5D'~v-~u)">
                                Similar Fractions
                            </a></li>
                            <li><a href="/puzzles/light_it_up/custom#(~o-%5B(~t-!tur'~i-1)'(~t-!sr'~i-9'~fN-*4*'~fD-*8*)'(~t-!tur'~i-23)'(~t-!sr'~i-29'~fN-*3*'~fD-*12*)'(~t-!lu'~i-90)'(~t-!lu'~i-91'~n-*1*'~d-*2*)'(~t-!lu'~i-92'~n-*1*'~d-*3*)'(~t-!lu'~i-93'~n-*1*'~d-*4*)'(~t-!lu'~i-94'~n-*1*'~d-*5*)%5D'~v-~u)">
                                Similar Fractions 2
                            </a></li>
                            <li><a href="/puzzles/light_it_up/custom#(~o-%5B(~t-!ld'~i-28'~n-*1*'~d-*4*)'(~t-!lr'~i-42'~n-*1*'~d-*4*)'(~t-!alrd'~i-45)'(~t-!tdl'~i-48)'(~t-!sd'~i-75'~fN-*1*'~fD-*2*)%5D'~v-~u)">
                                Adding Fractions
                            </a></li>
                            <li><a href="/puzzles/light_it_up/custom#(~o-%5B(~t-!tld'~i-14)'(~t-!ll'~i-18'~n-*1*'~d-*5*)'(~t-!lr'~i-40'~n-*1*'~d-*5*)'(~t-!tar'~i-44)'(~t-!sr'~i-48'~fN-*3*'~fD-*5*)'(~t-!tlu'~i-84)'(~t-!ll'~i-88'~n-*1*'~d-*5*)%5D'~v-~u)">
                                Adding Fractions 2
                            </a></li>
                            <li><a href="/puzzles/light_it_up/custom#(~o-%5B(~t-!su'~i-14'~fN-*5*'~fD-*6*)'(~t-!lr'~i-40'~n-*1*'~d-*2*)'(~t-!tmr'~i-42)'(~t-!alru'~i-44)'(~t-!mtl'~i-46)'(~t-!ll'~i-48'~n-*1*'~d-*3*)%5D'~v-~u)">
                                Adding Fractions 3
                            </a></li>
                            <li><a href="/puzzles/light_it_up/custom#(~o-%5B(~t-!su'~i-15'~fN-*8*'~fD-*18*)'(~t-!tur'~i-31)'(~t-!tau'~i-35)'(~t-!tul'~i-39)'(~t-!mtu'~i-51)'(~t-!tmu'~i-59)'(~t-!lu'~i-91'~n-*2*'~d-*9*)'(~t-!lu'~i-95'~n-*1*'~d-*18*)'(~t-!lu'~i-99'~n-*1*'~d-*6*)%5D'~v-~u)">
                                Adding Fractions 4
                            </a></li>
                        </ul>
                    </li>
                    <li>
                        Multiple Pieces
                        <ul>
                            <li><a href="/puzzles/light_it_up/custom#(~o-%5B(~t-!su'~i-5'~fN-*1*'~fD-*8*)'(~t-!tsur'~i-35)'(~t-!sr'~i-39'~fN-*1*'~fD-*8*)'(~t-!sl'~i-50'~fN-*1*'~fD-*4*)'(~t-!tsul'~i-55)'(~t-!lu'~i-95'~n-*1*'~d-*2*)'(~t-!tul)'(~t-!tur)'(~t-!twsu)%5D'~v-~u)">
                                Multiple Splits
                            </a></li>                    
                        </ul>
                    </li>
                    <li>
                        Adding Fractions
                        <ul>
                            <li><a href="/puzzles/light_it_up/custom#(~o-%5B(~t-!su'~i-15'~fN-*3*'~fD-*4*)'(~t-!lr'~i-31'~n-*1*'~d-*2*)'(~t-!trd'~i-38)'(~t-!tur'~i-53)'(~t-!alru'~i-55)'(~t-!mtl'~i-57)'(~t-!tdl'~i-58)'(~t-!tlu'~i-73)'(~t-!ll'~i-78'~n-*1*'~d-*4*)%5D'~v-~u)">
                                Common Denominator
                            </a></li>                    
                            <li><a href="/puzzles/light_it_up/custom#(~o-%5B(~t-!tld'~i-6)'(~t-!ll'~i-9'~n-*1*'~d-*6*)'(~t-!su'~i-11'~fN-*1*'~fD-*9*)'(~t-!tmd'~i-26)'(~t-!tslu'~i-31)'(~t-!twsu'~i-33)'(~t-!trd'~i-38)'(~t-!r'~i-44)'(~t-!r'~i-45)'(~t-!r'~i-54)'(~t-!r'~i-55)'(~t-!mtd'~i-58)'(~t-!sl'~i-60'~fN-*4*'~fD-*9*)'(~t-!tal'~i-66)'(~t-!tdl'~i-68)'(~t-!lu'~i-93'~n-*2*'~d-*3*)'(~t-!lu'~i-96'~n-*1*'~d-*18*)'(~t-!tsdl)'(~t-!tru)'(~t-!sdlr)'(~t-!audl)'(~t-!tur)%5D'~v-~u)">
                                Common Denominator 2
                            </a></li>                    
                        </ul>
                    </li>
                    <li>
                        Complex Situations
                        <ul>
                            <li><a href="/puzzles/light_it_up/custom#(~o-%5B(~t-!sl'~i-1'~fN-*1*'~fD-*3*)'(~t-!tul'~i-3)'(~t-!tld'~i-16)'(~t-!ll'~i-18'~n-*1*'~d-*2*)'(~t-!tsur'~i-21)'(~t-!alru'~i-23)'(~t-!tul'~i-25)'(~t-!twsu'~i-41)'(~t-!tsru'~i-45)'(~t-!sr'~i-48'~fN-*1*'~fD-*6*)'(~t-!lu'~i-81)'(~t-!tdr'~i-86)'(~t-!sr'~i-88'~fN-*1*'~fD-*2*)%5D'~v-~u)">
                                Level A
                            </a></li>
                            <li><a href="/puzzles/light_it_up/custom#(~o-%5B(~t-!ld'~i-11'~n-*1*'~d-*3*)'(~t-!tur'~i-15)'(~t-!tsrd'~i-18)'(~t-!tdr'~i-31)'(~t-!twsr'~i-35)'(~t-!trd'~i-37)'(~t-!r'~i-40)'(~t-!r'~i-41)'(~t-!r'~i-42)'(~t-!r'~i-50)'(~t-!r'~i-51)'(~t-!r'~i-52)'(~t-!mtd'~i-55)'(~t-!audr'~i-57)'(~t-!sr'~i-59'~fN-*2*'~fD-*9*)'(~t-!tur'~i-61)'(~t-!tru'~i-67)'(~t-!tdr'~i-75)'(~t-!alrd'~i-77)'(~t-!tdl'~i-78)'(~t-!lu'~i-81'~n-*1*'~d-*9*)'(~t-!sd'~i-97'~fN-*1*'~fD-*6*)'(~t-!twsd)'(~t-!mtd)'(~t-!audl)'(~t-!trd)%5D'~v-~u)">
                                Level B
                            </a></li>
                            <li><a href="/puzzles/light_it_up/custom#(~o-%5B(~t-!tld'~i-10)'(~t-!tul'~i-17)'(~t-!su'~i-32'~fN-*5*'~fD-*6*)'(~t-!tur'~i-35)'(~t-!twsr'~i-37)'(~t-!sr'~i-39'~fN-*1*'~fD-*6*)'(~t-!tdr'~i-60)'(~t-!tau'~i-62)'(~t-!tml'~i-64)'(~t-!tsul'~i-65)'(~t-!tlu'~i-82)'(~t-!tdl'~i-87)'(~t-!lu'~i-95)'(~t-!twsu)'(~t-!tru)'(~t-!tld)%5D'~v-~u)">
                                Level C
                            </a></li>
                            
                        </ul>
                    </li>
                </ul>
                <p>
                    You can also try creating your own level in the
                    <a href='/puzzles/light_it_up/editor'>Level Editor</a>.
                    Just click on an empty square on the board to select a piece of your puzzle to place there.
                </p>
            </div>
        {/editor}               
    </div>
    {:custom}
        <div class='custom_level'>
            <textarea class='level_description'></textarea>
            <button class='load_to_play'>Load To Play</button>
        </div>
        <button class='load_custom_level_data'>Load Custom Level Data</button>
    {/custom}
    
    <div class='explanation'>
        Light It Up is a remix of the fractions game, <a href='/reviews'>Refraction</a>, 
        developed by the University of Washington's Center for Game Design. You can read a 
        little more about the changes we've made and why <a href='/puzzles#light_it_up'>here.</a>
    </div>
    
    <div class='tip laser'>
        <h2>The Laser <img src='/assets/images/puzzles/space_fractions/laser_shooting.png'></h2>
        <p>The laser shoots a laser of a given fraction that can be used to light up the sensors.</p>
        <p>The fraction that a given laser shoots is displayed on the laser, in this case the fraction is 1/2.</p>
    </div>
    <div class='tip sensor'>
        <h2>The Sensor <img src='/assets/images/puzzles/space_fractions/sensors.png'></h2>
        <p>The sensor will light up when a laser is directed in to the base of the sensor.</p>
        <p>You need to make all sensors light up yellow to solve each puzzle.</p>
        <div class='section'>
            <img src='/assets/images/puzzles/space_fractions/blue_sensor.png'>
            <h4>The Blue Sensor</h4>
            <p>The sensor will turn blue if there is not enough laser being directed in to it.</p>
            <p>In this example 1/4 is less than 1/3, so the sensor isn't getting enough laser and has turned blue.</p>
        </div>
        <div class='section'>
            <img src='/assets/images/puzzles/space_fractions/yellow_sensor.png'>
            <h4>The Yellow Sensor</h4>
            <p>The sensor will turn yellow if just the right amount of laser is being directed in to it.</p>
            <p>In this example 1/4 is equal to 1/4, so the sensor lights up yellow.</p>
        </div>
        <div class='section'>
            <img src='/assets/images/puzzles/space_fractions/red_sensor.png'>
            <h4>The Red Sensor</h4>
            <p>The sensor will turn red when there is too enough laser being directed in to it.</p>
            <p>In this example 1/4 is greater than 1/5, so the sensor is getting too much laser and has turned red.</p>
        </div>
    </div>
    <div class='tip splitter'>
        <h2>The Splitter <img src='/assets/images/puzzles/space_fractions/splitter.png'></h2>
        <p>The splitter will split your laser in to two lasers or three lasers.</p>
        <p>When a splitter splits a laser, it divides that laser by two or three.</p>
        <p>So a two-way splitter will take a 1/3 laser and produce two 1/6 lasers.</p>
        <p>A three-way splitter will take a 1/4 laser and produce three 1/12 lasers.</p>
        <p>1/3 &divide; 2 = 1/6 and 1/4 &divide; 3 = 1/12</p>
        
    </div>
    <div class='tip turner'>
        <h2>The Turner <img src='/assets/images/puzzles/space_fractions/turner.png'></h2>
        <p>The turner will redirect a laser in a new direction.</p>
        <p>It won't change the value of the fraction on the laser at all.</p>
    </div>
    <div class='tip adder'>
        <h2>The Adder <img src='/assets/images/puzzles/space_fractions/adder_active.png'></h2>
        <p>The adder allows you to add together two lasers that have fractions with a common denominator.</p>
        <p>The denominator is that number of the bottom of the fraction.</p>
        <p>The numerator is the number on the top of the fraction.</p>
        <p>In order to add fractions you must find a common denominator and then you simply add together the numerators.</p>
        <p>So in order to add 1/4 + 1/8 you must convert 1/4 to 2/8 and then you can add 2/8 to 1/8 to get 3/8.</p>
        <div class='section'>
            <img src='/assets/images/puzzles/space_fractions/adder_incorrect.png'>
            <p>If you try adding fractions without a common denominator, the adder will not produce any laser.</p>
        </div>
    </div>
    <div class='tip denominator'>
        <h2>Change The Denominator <img src='/assets/images/puzzles/space_fractions/denominator.png'></h2>
        <p>This piece allows you to change the denominator of a laser's fraction, doubling it or tripling it.</p>
        <p>When you change the denominator of a fraction you must also change the numerator that the overall value remains the same.</p>
        <p>So if you have 1/4 and you double the denominator then you must also double the numerator, getting 2/8.</p>
        <p>1/4 is the same as 2/8 which also equals 3/12.</p> 
        <p>In fact 1/4 = 2/8 = 3/12 = 4/16 = 5/20, etc. All of these are the same value, just with different denominators.</p>
    </div>
    
    <div class='level_instructions'>
        {instructions}
    </div>
</div>