<div class='xyflyer' data-level={level} data-class={class} data-classlevel={classLevel}>
    <div class='board'></div>
    <div class='equation_area'>
        <h2>XYFlyer</h2>
        <div class='equations'></div>
        <div class='launch_button'><a class='launch button go'>Launch!</a></div>
        
        <div class='possible_fragments'>
            <h4>Equation Fragments</h4>
            <p>Mix and match these equation fragments by dragging and dropping them in the equation area above.</p>
        </div>

        <div class='hints'>
            <h4>Can't Figure It Out?</h4> 
            <p><a class='hint'>Show Me Part Of The Solution</a></p>
            <div class='drag_this'>
                <img src='/assets/images/puzzles/xyflyer/drag_this.png'/>
            </div>
            <div class='drop_here'>
                <img src='/assets/images/puzzles/xyflyer/drop_here.png'/>
            </div>
            <div class='launch_hint'>
                <img src='/assets/images/puzzles/xyflyer/launch.png'/>
            </div>
        </div>
    </div>
    <div class='complete'>
        <h2>Nice Job!</h2>
        <p><a class='button go'>Next Level ></a></p>
    </div>
    <div class='intro_message'>
        <h2>Welcome To XYFlyer</h2>
        <br/>
        <p>XYFlyer allows you to explore equations and graphing by solving various puzzles.</p>
        <p>Fly a remote controlled airplane through hoops using equations to chart the airplane's path.</p>
        <br/>
        <h4>XYFlyer is currently in beta</h4>
        <p>We only have a few levels so far, but we're adding more levels every day.</p>
        <br/>
        <a class='button go'>Start ></a>
    </div>
    <div class='exit_message'>
        <h2>That's all we've got!</h2>
        <br/>
        <p>XYFlyer is still very much in development and we are adding new levels frequently.</p>
        <p>We love to hear feedback and encouragement. So let us know what you think about XYFlyer!</p>
        <br/>
        <h4>Contact Us</h4>
        <p><a mailto='xyflyer@puzzleschool.com'>xyflyer@puzzleschool.com</a></p>
    </div>
    <div class='level_instructions'>
        {instructions}
    </div>
    
    <div class='objects'>
        {:objects}<div class='{name}'>{&image}</div>{/objects}
    </div>
</div>