
.row.text-xs-center.py-3.mt-3
  .col-xs-12
    %h1.title
      = image_tag('technologies/codepuzzle.png', class: 'img-fluid')

.row
  .col-xs-12.text-xs-center
    %h2 The Code Puzzle Cards
    %p.mt-2
      Please fill out the form below to gain access to The Code puzzle cards. 
    %p You will be able to print out as many cards as you need.



%br
%br
%br
%br
%br
%br
%br
%br
