
.row.text-xs-center.py-3.mt-3
  .col-xs-12.col-md-10.offset-md-1.col-lg-6.offset-lg-3
    %h1.py-3.title
      = image_tag('technologies/codepuzzle.png', class: 'img-fluid')

    %p.mt-1
      The Code Puzzle is currently in private beta.

    %p.mt-1
      If you'd like to join the private beta please email:
    %p
      = mail_to("jared@puzzleschool.com")

%br
%br
%br
%br
%br
%br
%br
