
.row.text-xs-center.py-3.mt-3
  .col-xs-12
    %h1.title
      = image_tag('technologies/codepuzzle.png', class: 'img-fluid')

.row.text-xs-center.py-3.mt-3
  .col-xs-12
    %p= @code_puzzle_form.inspect
