@import '../variables';
@import '../methods';


@height: 640px;
@width: 960px;
@border: 8px;

.page {
    .no_select();
}

.circuitous {
    height: @height;
    width: @width;
    outline: 3px solid darken(@white, 25%);
    margin: 18px 0 0 -12px;
    position: relative;
    overflow: hidden;
    background-color: #FFFFFF;
    .no_select();

    &.editor .board {
        .cells, .wires, .electrons {
            width: @height - (@border * 4);           
        }
    }
     
    .board {
        float: left;
        border: @border solid white;
        border-right: none;
        overflow: hidden;
        margin-bottom: 12px;
        .inner-shadow(0, 0, 18px, 60%);
        position: relative;
        padding: @border;
        .no_select();
        
        .cells, .wires, .electrons {
            height: @height - (@border * 4);  
            width: @width - (@border * 4);            
        }

        .cells {
            position: relative;
        }
        
        .wires, .electrons {
            position: absolute;
            top: 0;
            left: 0;
        }
        
        .cell {
            border-right: 1px dashed @lightestgrey;
            border-bottom: 1px dashed @lightestgrey;
            content: "\00a0";
            float: left;
        } 
        
        .wire_segment {
            position: absolute;
            content: "\00a0";
            background-color: white;
            width: 8px;                
            height: 8px;
            margin-top: -4px;
            margin-left: -4px;   
            
            &::before, &::after {
                position: absolute;
                content: "\00a0";
                height: 4px;
                width: 4px;
            } 
            
            &.left_all, &.up_all {
                &::after {
                    display: none;
                }
            }
            &.right_all, &.down_all {
                &::before {
                    display: none;
                }
            }
            
            &.vertical {
                padding-bottom: 8px;
                width: 4px;
                border-left: 2px solid @blue;
                border-right: 2px solid @blue;
                
                &::before, &::after {
                    left: -2px;
                    height: 6px;
                    border-left: 2px solid @blue;
                    border-right: 2px solid @blue;
                }
                &::before {
                    bottom:  -6px;
                }                
                &::after {
                    top:  -6px;
                }
                &.up_left, &.up_right, &.up_blank_t {
                    &::after {
                        border: none;
                    }
                }
                &.down_left, &.down_right, &.down_blank_t {
                    &::before {
                        border: none;
                    }
                }
                &.up_t {
                    &::after {
                        width: 6px;
                        border: none;
                        border-top: 2px solid @blue;
                    }
                }
                &.down_t {
                    &::before {
                        width: 6px;
                        border: none;
                        border-bottom: 2px solid @blue;
                    }
                }
            }        
            
            &.horizontal {
                padding-right: 8px;
                height: 4px;
                border-top: 2px solid @blue;
                border-bottom: 2px solid @blue;
               
                &::before, &::after {
                    top: -2px;
                    border: 2px solid @blue;
                    border-left: none;
                    border-right: none;
                }
                &::before {
                    right:  -4px;
                }                
                &::after {
                    left:  -4px;
                }       
                &.right_down, &.right_up {
                    &::before {
                        border-right: 2px solid @blue;
                        height: 6px;
                        right: -6px;
                    }                    
                }
                &.left_down, &.left_up {
                    &::after {
                        height: 6px;
                        left: -6px;
                        border-left: 2px solid @blue;
                    }                    
                }                
                &.right_down {
                    &::before {
                        border-bottom: 2px solid @blue;
                        border-top: none;
                        .border-bottom-right-radius(16px);
                    }
                }
                &.right_up {
                    &::before {
                        border-top: 2px solid @blue;
                        border-bottom: none;
                        .border-top-right-radius(16px);                                             
                    }                    
                }
                &.left_down {
                    &::after {
                        border-bottom: 2px solid @blue;
                        border-top: none;
                        .border-bottom-left-radius(16px);                                                  
                    }                                     
                }
                &.left_up {
                    &::after {
                        border-left: 2px solid @blue;
                        border-top: 2px solid @blue;
                        border-bottom: none;
                        .border-top-left-radius(16px);                                                  
                    }                                          
                }                
                &.right_t {
                    &::before {
                        right: -6px;
                        height: 6px;
                        border: none;
                        border-right: 2px solid @blue;
                    }
                }
                &.right_blank_t {
                    &::before {
                        border: none;
                    }
                }
                &.left_t {
                    &::after {
                        left: -6px;
                        height: 6px;
                        border: none;
                        border-left: 2px solid @blue;
                    }
                }
                &.left_blank_t {
                    &::after {
                        border: none;
                    }
                }
            }
        }
        
        .electrons_segment {
            position: absolute;            
            content: "\00a0";
            width: 8px;
            height: 8px;
            margin-left: -2px;
            margin-top: -2px;
            
            &.up, &.down {
                margin-left: -4px;
                background: transparent url('/assets/images/puzzles/circuitous/electrons_vertical.png');
            }
            
            &.up {
                margin-top: 14px;
            }        
            
            &.left, &.right {
                margin-top: -4px;
                background: transparent url('/assets/images/puzzles/circuitous/electrons_horizontal.png');
            }
            
            &.left {
                margin-left: 14px;
            }
        }
    }
    
    .right_side {
        position: absolute;
        right: 0;
        top: 0;
        background-color: white;
        
        .info {
            height: (@height * 1 / 3);
            width: (@width / 3);
            padding: @border;   
            margin: @border;
            .outer-shadow(-6px, 8px, 6px, 12%);
            
            .challenge {
                margin-top: 12px;
                text-align: center;
                .description {
                    padding: 12px;
                }
            }
        }
        
        .options {
            .inner-shadow(0, 0, 18px, 60%);            
            width: (@width - @height - (@border * 2));
            height: (@height * 2 / 3 - (@border * 2));
            border-spacing: 0;
            border-collapse: collapse;
            border-top: 1px solid @grey;
            border-right: 1px solid @grey;
            
            td {
                border-left: 1px solid @grey;
                border-bottom: 1px solid @grey;
                
                .option {
                    position: relative;
                    text-align: center;
                    .no_select();
                    
                    .component {
                        position: absolute;
                        top: 12px;
                        left: 15px;
                        &.in_options {
                            img {
                                height: 60px;
                                width: 45px;
                            }
                        }                    
                    }
                }
            }
        }
        
        .menu {
            width: (@width - @height - (@border * 2));
            height: (@height / 3 - (@border * 2));
        }
    }
    
    &.editor .right_side {
        border: @border solid white;
        position: static;
        float: right;
        border-left: none;
    }
    
    .component {
        .current_image {
            transition: opacity 0.5s ease-out;
            position: absolute;
            opacity: 0;
        }
    }
    
    .board .cells .component {
        position: absolute;
    }
    
    .board .wire_segment, .board .electrons_segment,
    .right_side .options .option img {
        transition: background-color 0.5s ease;
        z-index: 1;            
        &.excessive_current {
            background-color: #FF0000;
            z-index: 2;
            &.right_down, &.right_up, &.right_left, &.right_t, &.right_all, 
            &.down_right, &.up_left, &.down_up, &.down_t, &.down_all, &.right_blank_t, &.down_blank_t {
                border-color: #FF0000;
                &::before {
                    background-color: #FF0000;   
                    border-color: #FF0000;
                }                    
            }
            &.right_all, &.down_all {
                &::before {
                    display: block;
                    width: 6px;
                    height: 6px;
                }                
            }
            &.left_down, &.left_up, &.left_right, &.left_t, &.left_all,
            &.up_right, &.down_left, &.up_down, &.up_t, &.up_all, &.left_blank_t, &.up_blank_t {
                border-color: #FF0000;
                &::after {
                    background-color: #FF0000;                
                    border-color: #FF0000;
                }                    
            }                
            &.left_all, &.up_all {
                &::after {
                    display: block;
                    width: 6px;
                    height: 6px;
                }                
            }
        }
    }
    
    .selector_button {
        margin: auto;
        display: block;
        width: 60px;
        height: 60px;
        margin-top: 15px;
        font-size: 48px;
        .rounded(30px);
        background-color: blue;
        color: white;
        .no_select();
    }
    
    .selector_dialog {
        text-align: center;
        position: absolute;
        top: -10000px;
        left: -10000px;
        opacity: 0;
        width: 390px;
        height: 390px;
        padding: 12px;
        border: 1px solid @black;
        background-color: @white;
        .rounded(6px);
        z-index: 99;
        
        .items {
            width: 100%;
            .item {
                padding: 12px 0;
            }    
        }
    }    
    
    .modal_menu {
        opacity: 0;
        position: absolute;
        top: -10000px;
        left: -10000px;
        width: 560px;
        height: 400px;
        z-index: 99;
        background: transparent url('/assets/images/puzzles/circuitous/modal.png');
        .close {
            cursor: pointer;
            width: 42px;
            height: 42px;
            position: absolute;
            top: 0;
            right: 0;
            content: "\00a0";  
        }
        .content {
            width: 480px;
            height: 318px;
            margin: 40px;
            .challenge, .complete {
                padding-top: 30px;
                text-align: center;
                h1 {
                }
                .description {
                    font-size: @h3size;
                    padding: 30px;                    
                }
                img {
                    display: block;
                    float: right;
                    margin-left: 12px;
                }
            }
            .go {
                .button-color(@blue);
                font-size: @h2size;
            }
            .nav_links {
                padding-top: 45px;
                a {
                    .button-color(@red);
                }
            }
        }
    }
}

.load_instructions {
    clear: both;
    padding: 30px 0;
    overflow: hidden;
    .instructions {
        float: left;
        padding-right: 60px;
        textarea {
            width: 300px;
            height: 60px;
            display: block;
        }        
    }
}
