@import '../variables';
@import '../methods';


@height: 640px;
@width: 960px;

.circuitous {
    height: @height;
    width: @width;
    margin: 18px 0 0 -12px;
    position: relative;
    overflow: hidden;
    border: 1px solid black;

    .board {
        float: left;
        width: @height;
        overflow: hidden;
        margin-bottom: 12px;
        background-color: tan;
        height: @height;   
    }
    
    .right_side {
        float: right;
        
        .options {
            width: (@width - @height - 6);
            height: (@height * 2 / 3);
            background-color: red;
            border-spacing: 0;
            border-collapse: collapse;
            .option {
                border-left: 1px solid @black;
                border-bottom: 1px solid @black;
            }
        }
        
        .menu {
            margin-top: 6px;
            width: (@width - @height - 6);
            height: (@height / 3);
            background-color: green;
        }
    }
    
    .selector {
        text-align: center;
        
        .button {
            font-size: 45px;
            padding: 0 15px;
            .rounded(30px);
            background-color: blue;
            color: white;
        }
        
        .dialog {
            
        }
    }
    
}