@import '../variables';
@import '../methods';

@height: 480px;

.code {
    margin-left: -60px;
    width: 1050px;
    padding-bottom: 30px;
    position: relative;
    
    .clear {
        clear: both;
    }
    
    .error {
        background-color: @darkred;
        color: white;
        position: absolute;
        top: -1000px;
        left: -1000px;
        p {
            padding: 0 12px;
        }
    }

    a.action {
        .button-color(@darkgreen);
        position: absolute;
        top: 11px;
        font-weight: normal;
        
        &:active {
            position: absolute;
            top: 12px;
        }
        
        &.select_level {
            left: 66px;
        }

        &.reset_level {
            right: 66px;
        }
    }
    

    .challenge {        
        .text {
            padding: 36px 12px;
            text-align: center;
        }
        
        .success {
            color: @darkgreen;
            font-weight: bold;
        }
        
        a {
            color: @darkgreen;
            text-decoration: underline;
        }
        
        .next_level {
            .button-color(@blue);
            font-weight: normal;
            font-size: @bodysize;
            margin: -6px 12px;
        }
        
        .links {
            padding-top: 12px;
            width: 50%;
            margin: auto;
            position: relative;
            a.link {
                text-align: center;
                background-color: @blue;
                display: block;
                float: left;
                width: 49%;
                border-top: 1px solid @blue;
                border-right: 1px solid @blue;
                padding: 4px 0 6px 0;
                text-align: center;
                color: white;
                text-decoration: none;
                line-height: 15px;
            }
            a.link:first-child {
                border-left: 1px solid @blue;
                border-right: 1px solid @white;
            }
            a.link.selected {
                background-color: @white;
                color: @blue;
            }
            .clear {
                clear: both;
            }
        }
        
        div.description, div.hints {
            position: absolute;
            border-left: 1px solid @blue;
            border-right: 1px solid @blue;
            border-bottom: 1px solid @blue;
            z-index: 2;
            width: 98%;
            left: 0;
            top: 100%;
            overflow: hidden;
            background-color: @white;
            .inside {
                margin: 0 12px;
            }
            .hint {
                padding-top: 6px;
                p {
                    opacity: 0;
                }
                .code_sample {
                    display: block;
                }
            }
        }
        
        div.hints {
            padding-top: 12px;
            border-left: 2px solid @blue;
        }
        
        div.description {
            border-right: 2px solid @blue;            
        }
    }

    .editors {
        height: @height;
        .editor_container {
            position: relative;
            width: 40%;
            border: 1px solid #ccc;
            border-top: 1px solid @white;
        
            .editor_header {
                cursor: pointer;
                padding: 3px;
                overflow: hidden;
                background-color: #ccc;
                .title {
                    height: 15px;
                    font-weight: bold;
                }
                
                .type {
                    float: right;
                    font-size: @smallsize;
                    color: @green;
                    background-color: white;
                    padding: 0 3px;
                    .rounded(3px)
                }
            }
        
            .editor {
                display: none;
            }
        
            &.selected {
                height: 95.5%;
                .editor {
                    display:  block;
                    border-top: 1px solid #ccc;
                    position: absolute;
                    top: 21px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                } 
            }
        }
    }
    
    .output {
        width: 59%;
        height: @height;
        float: right;
        border: 1px solid #ccc;
    }
    
    .test_area {
        position: absolute;
        text-align: center;
        margin-top: -7px;
        right: 6px;
        width: 180px;
        background-color: @darkgreen;
        border: 2px solid @darkgreen;
        z-index: 999;
        color: white;
        p {
            margin: 0;
            padding: 3px;
        }
        a {
            color: white;
            text-decoration: underline;
        }
        .tests {
            background-color: white;
            color: @black;
            overflow: hidden;
            font-size: @smallsize;
            text-align: left;
            
            .test {
                padding: 6px 0 6px 18px;
            }
            
            .wrong {
                background: @white url('/assets/images/puzzles/code/incorrect.png') 3px 6px no-repeat; 
            }

            .correct {
                background: @white url('/assets/images/puzzles/code/correct.png') 3px 6px no-repeat; 
            }
            
        }

        .rerun_tests {
            margin-left: 12px;
        }
        
        &:before {
            content: " ";
            border-top:10px solid @darkgreen;
            left:-10px;
            top: -3px;
            border-top: 8px solid @white;
            border-right: 8px solid darken(@darkgreen, 30%);
            position: absolute;
        }
    }
    
    .level_selector {
        position: absolute;
        top: -1000px;
        left: -1000px;
        opacity: 0;
        background-color: @white;
        border: 2px solid @green;
        width: 540px;
        height: @height;
        overflow: auto;
        padding: 12px;
        z-index: 9;
        
        .success {
            display: none;
        }
        
        &.success .success {
            display: block;
        }
        
        h2, h3, h4 {
            text-align: center;
        }
        
        .levels {
            background-color: #eee;
            padding: 12px;
            margin: 12px 0;
            .level {
                padding: 12px;
            }
        }
    }    
}

.site_explanation {
    padding: 60px 0;
}
