@import '../variables';
@import '../methods';

@height: 540px;

.code {
    margin-left: -60px;
    width: 1050px;
    overflow: hidden;
    padding-bottom: 30px;

    h2 {
        text-align: center;
        margin-bottom: 12px;
    }

    .challenge {
        width: 50%;
        margin: 0 auto 12px auto;
        border: 2px solid @blue;
        border-bottom: none;
        position: relative;
        
        .text {
            padding: 12px;
        }
        
        a {
            color: @darkgreen;
            text-decoration: underline;
        }
        
        .links {
            text-align: center;
            background-color: @blue;
            overflow: hidden;
            a {
                font-weight: bold;
                display: block;
                float: left;
                width: 33%;
                margin-top: 2px;
                padding: 4px 0 6px 0;
                text-align: center;
                color: white;
                border-right: 1px solid white;
                text-decoration: none;
                line-height: 15px;
            }
            a:last-child {
                border: none;
            }
            a.selected {
                background-color: @white;
                color: @blue;
            }
        }
        
        div.description, div.hints, div.tests {
            position: absolute;
            border-left: 2px solid @blue;
            border-bottom: 2px solid @blue;
            border-right: 2px solid @blue;
            z-index: 2;
            width: 100%;
            left: -2px;
            top: 100%;
            overflow: hidden;
            background-color: @white;
            .inside {
                margin: 0 12px;
            }
            .hint {
                padding: 6px 0;
                p {
                    opacity: 0;
                }
            }
            .test {
                padding: 6px 0;
                &.wrong {
                    color: red;
                }
                
                &.correct {
                    color: green;
                }
            }
            .explanation {
                font-size: @smallsize;
            }
        }
    }

    .editors {
        height: @height;
        .editor_container {
            position: relative;
            width: 40%;
            height: 100%;
            border: 1px solid #ccc;
        
            .editor_header {
                padding: 3px;
                overflow: hidden;
                background-color: #ccc;
                .title {
                    height: 15px;
                    font-weight: bold;
                }
                
                .type {
                    float: right;
                    font-size: @smallsize;
                    color: @green;
                    background-color: white;
                    padding: 0 3px;
                    .rounded(3px)
                }
            }
        
            .editor {
                border-top: 1px solid #ccc;
                position: absolute;
                top: 21px;
                left: 0;
                right: 0;
                bottom: 0;
            } 
        }
    }
    
    .output {
        width: 59%;
        height: @height;
        float: right;
        border: 1px solid #ccc;
    }
}