@import '../variables';
@import '../methods';

body {
    background-color: @darkgrey;
}

.language_scramble {
    width: 960px;
    margin-left: -12px;
    margin-bottom: 60px;
    position: relative;
    .rounded(12px);

    .header {
        padding: 6px 0;
        overflow: hidden;
        text-align: center;
        background-color: #eee;
        .border-top-left-radius(12px);
        .border-top-right-radius(12px);
        h1 {
            margin: 12px 0 0 24px;
            float: left;
            height: 45px;
            line-height: 45px;
            color: @darkred;
        }
        .progress_meter {
            margin: 12px 24px 0 0;
            float: right;
            height: 60px;
            .bar {
                border: 1px solid #ccc;
                height: 15px;
                background-color: white;
                overflow: hidden;
                .progress_section {
                    width: 9px;
                    border-right: 1px solid #ccc;
                    background-color: @darkgreen;
                    height: 15px;
                    float: left;
                }
            }
        }
        .level {
            font-size: 18px;
            float: left;
            .languages { 
                font-size: 22px;
                margin-bottom: 3px;
            }
            small {
                display: block;
                font-size: 10px;
            }
        }
    }
    
    .scramble_content {
        height: 640px;
        width: 960px;
        background: @white url('/assets/images/puzzles/language_scramble/wood.jpg');        
    }

    .display_words, .scrambled {
        .words {
            background-image:url('/assets/images/puzzles/language_scramble/paper-middle.png');
            background-position: center 6px;
            background-repeat: repeat-x;      
            display: inline-block;
            position: relative;
            font-size: 51px;
            
            &::before {
                background-image:url('/assets/images/puzzles/language_scramble/paper-left.png');
                background-position: left 6px;
                background-repeat: no-repeat;            
                content: "\00a0";
                display: inline-block;
                width: 76px;
                position: absolute;
                top: 0;
                left: -74px;
            }

            &::after {
                background-image:url('/assets/images/puzzles/language_scramble/paper-right.png');
                background-position: right 6px;
                background-repeat: no-repeat;            
                content: "\00a0";
                display: inline-block;
                width: 76px;
                position: absolute;
                top: 0;
                right: -74px;
            }
        }
        
        .highlighted {
            text-shadow: 0 0 10px #fff,
                               0 0 20px #fff,
                               0 0 30px #fff,
                               0 0 40px @green,
                               0 0 70px @green,
                               0 0 80px @green,
                               0 0 100px @green,
                               0 0 150px @green;
/*            .bg-alpha(@green, 0.5);*/
            padding: 0 3px;
        }
    }
    
    .section {
        font-size: 30pt;
        margin: 0;
        padding: 24px 0;
    }

    .guesses, .scrambled {
        clear: left;
        .container {
            float: left;
            overflow: hidden;
            margin-left: auto;
            margin-right: auto;  
            .word_group {
                float: left;
            }      
        }
        .guess, .letter, .blank_letter, .space {
            float: left;
            margin: 3px;
        }
        .space {
            width: 24px;
            margin: 6px 0;
        }
        .guess {
            .rounded(12px);
            .box-shadow(inset -9px 9px 9px rgba(0,0,0,0.5));            
        }
        .color1 .guess {
            border: 1px dashed @blue;    
            .bg-alpha(@blue, 0.3)
        }
        .color2 .guess {
            border: 1px dashed @orange;   
            .bg-alpha(@orange, 0.3) 
        }
        .color3 .guess {
            border: 1px dashed @red;    
            .bg-alpha(@red, 0.3)
        }
        .color4 .guess {
            border: 1px dashed @darkblue;
            .bg-alpha(@darkblue, 0.3)    
        }
        .color5 .guess {
            border: 1px dashed @darkred;
            .bg-alpha(@darkred, 0.3)    
        }
        .color6 .guess {
            border: 1px dashed @darkorange;
            .bg-alpha(@darkorange, 0.3)    
        }
        .color7 .guess {
            border: 1px dashed @darkyellow;
            .bg-alpha(@darkyellow, 0.3)    
        }
        .color8 .guess {
            border: 1px dashed @white;
            .bg-alpha(@white, 0.3)    
        }
        .letter {
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-repeat:no-repeat;
            cursor: pointer;
            background-color: transparent;
        }
        .color1 .letter {
            background-image: url('/assets/images/puzzles/language_scramble/tile-blue.png'); 
        }
        .color2 .letter {
            background-image: url('/assets/images/puzzles/language_scramble/tile-yellow.png'); 
        }
        .color3 .letter {
            background-image: url('/assets/images/puzzles/language_scramble/tile-red.png'); 
        }
        .color4 .letter {
            background-color: @darkblue;    
        }
        .color5 .letter {
            background-color: @darkred;    
        }
        .color6 .letter {
            background-color: @darkorange;    
        }
        .color7 .letter {
            background-color: @darkyellow;    
        }
        .color8 .letter {
            background-color: @white;    
        }
        .correct {
            text-align: center;
            .tap {
                .button-color(@blue);
                display: block;
                margin-top: 45px;
                font-size: 15px;
                width: 102px;
                cursor: pointer;
                font-weight: normal;
                .no_select();
            }
        }
        
        .hidden_message {
            position: absolute;
            font-size: 12pt;
            background-color: @white;
        }
        
        &.hidden {
            position: relative;
            .letter, .guess, .space {
                visibility: hidden;
            }
            .hidden_message {
                left: 236px;
                top: 30px;
            }
        }
    }

    .guesses { 
        .color1, .color2, .color3, .color4, .color5, .color6, .color7, .color8 {
            .correct_letter {
                background-image: url('/assets/images/puzzles/language_scramble/tile-green.png'); 
                border: 1px solid transparent;
            }

            .wrong_letter {
                background-image: url('/assets/images/puzzles/language_scramble/tile-red.png'); 
                border: 1px solid transparent;
            }
        }
        
        &.hidden {
            .letter {
                visibility: visible;
            }
            .hidden_message {
                left: 250px;    
                top: 24px;            
            }
        }
    }
    
    .floating_message {
        position: absolute;
        top: -1000px;
        left: -1000px;
        opacity: 0;
        text-align: center;
    }
    
    .last_answer {
        .highlighted {
            .bg-alpha(@green, 0.25);
            padding: 0 3px;
        }
    }
    
    #clickarea {
        position: absolute;
        background-image:url('/assets/images/puzzles/language_scramble/keyboard.gif');
        width: 50px;
	    height: 17px;
        display: block;
        color: gray;
        z-index: 2; 
    }
    
    .hide_keyboard #clickarea {
        top: -1000px;
        left: -1000px;        
    }

    /* iPad [portrait + landscape] */
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        #clickarea {
    	    top: 284px;
    	    left: 444px;
        }
    }

    /* iPhone [portrait + landscape] */
    @media only screen and (max-device-width: 480px) {
    	#clickarea {
    	    top: 284px;
    	    left: 444px;
        }
    }
    
    .footer {
        padding: 15px 0;
        overflow: hidden;
        background-color: #eee;
        .border-bottom-left-radius(12px);
        .border-bottom-right-radius(12px);
        
        .levels {
            padding: 0 88px;
            text-align: center;
            .level {
                background-color: #fdfdfd;
                border: 1px solid #ccc;
                float: left;
                margin: 12px 0 0 30px;
                width: 330px;
                .level_link {
                    display: block;
                    margin: 6px 0;
                }
                .percent_complete {
                    opacity: 0.3;
                    margin-top: -48px;
                    overflow: hidden;
                    height: 48px;
                    float: left;
                    background-color: @darkgreen;
                }
            }
        }
    }
    
}