@import '../variables';
@import '../methods';

body {
    background-color: @darkgrey;
}

.language_scramble {
    width: 960px;
    margin-left: -12px;
    margin-bottom: 60px;
    position: relative;
    .rounded(12px);

    .header {
        padding: 6px 0;
        overflow: hidden;
        text-align: center;
        background-color: #eee;
        .border-top-left-radius(12px);
        .border-top-right-radius(12px);
        h1 {
            margin: 12px 0 0 24px;
            float: left;
            height: 45px;
            line-height: 45px;
            color: @darkred;
        }
        .progress_meter {
            margin: 12px 24px 0 0;
            float: right;
            height: 60px;
            .bar {
                border: 1px solid #ccc;
                height: 15px;
                background-color: white;
                overflow: hidden;
                .progress_section {
                    width: 9px;
                    border-right: 1px solid #ccc;
                    background-color: @darkgreen;
                    height: 15px;
                    float: left;
                }
            }
        }
        .level {
            font-size: 18px;
            float: left;
            .languages { 
                font-size: 22px;
                margin-bottom: 3px;
            }
            small {
                display: block;
                font-size: 10px;
            }
        }
        .explanation {
            margin: 0;
            padding: 6px;
            clear: both;
        }
    }
    
    .scramble_content {
        height: 640px;
        width: 960px;
        background: @white url('/assets/images/puzzles/language_scramble/wood.jpg');      
        &.foreign {
            background: @white url('/assets/images/puzzles/language_scramble/wood_foreign.jpg'); 
        }  
    }

    .display_words, .scrambled {
        .papered {
            line-height: 66px;
        }
        
        .highlighted {
            .bg-alpha(@green, 0.8);
            padding: 0 6px;
            display: inline-block;
            line-height: 42px;
            height: 45px;
        }
    }
    
    .papered {
        background-image:url('/assets/images/puzzles/language_scramble/paper-middle.png');
        background-position: left 6px;
        background-repeat: repeat-x;      
        display: inline-block;
        position: relative;
        
        &::before, &::after {
            background-repeat: no-repeat;            
            content: "\00a0";
            display: inline-block;
            position: absolute;
            top: 0;
            .background_size(35px);
            width: 35px;
        }
        
        &::before {
            background-image:url('/assets/images/puzzles/language_scramble/paper-left.png');
            background-position: left 6px;
            left: -35px;
        }

        &::after {
            background-image:url('/assets/images/puzzles/language_scramble/paper-right.png');
            background-position: right 6px;
            right: -35px;
        }
    }
    
    .section {
        font-size: 30pt;
        margin: 0;
        padding: 24px 0;
    }

    .guesses, .scrambled {
        clear: left;
        .container {
            float: left;
            overflow: hidden;
            margin-left: auto;
            margin-right: auto;  
            .word_group {
                float: left;
            }      
        }
        .guess, .letter, .blank_letter, .space {
            float: left;
            margin: 3px;
        }
        .space {
            width: 24px;
            height: 0;
        }
        .guess {
            background: transparent url('/assets/images/puzzles/language_scramble/sunken.png') no-repeat; 
            .background_size(cover);
            &::before {
                display: block;
                .rounded(12px);
                margin-top: 9%;
                margin-left: 12%;
                width: 72%;
                height: 72%;
                content: "\00a0"; 
                border-width: 2px;
                border-style: dashed;
            }            
            &:after {
                display: block;
                .rounded(3px);
                margin-top: -84%;
                margin-left: 9%;
                width: 90%;
                height: 90%;
                content: "\00a0";                 
            }
        }
                
        .color1 .guess {
            &::before {
                border-color: #1663EB;
            }
            &::after {
                .bg-alpha(darken(#1663EB, 20%), 0.2);                
            }
        }
        .color2 .guess {
            &::before {
                border-color: @yellow;
            }
            &::after {
                .bg-alpha(darken(@yellow, 20%), 0.2);                
            }
        }
        .color3 .guess {
            &::before {
                border-color: purple;
            }
            &::after {
                .bg-alpha(purple, 0.2);                                
            }
        }
        .color4 .guess {
            &::before {
                border-color: white;
            }
            &::after {
                .bg-alpha(white, 0.2);                                
            }
        }
        .color5 .guess {
            &::before {
                border-color: @darkblue;
            }
            &::after {
                .bg-alpha(@darkblue, 0.2);                                
            }
        }
        .color6 .guess {
            &::before {
                border-color: @orange;
            }
            &::after {
                .bg-alpha(@orange, 0.2);                                
            }
        }
        .color7 .guess {
            &::before {
                border-color: black;
            }
            &::after {
                .bg-alpha(black, 0.2);                                
            }
        }
        .color8 .guess {
            &::before {
                border-color: pink;
            }
            &::after {
                .bg-alpha(pink, 0.2);                                
            }
        }
        .letter {
            background: transparent url('/assets/images/puzzles/language_scramble/tile.png') no-repeat;
            .background_size(cover);
            cursor: pointer;
            text-indent: 5px;
            text-shadow: 0 0 3px #FFFFFF;
            &.sized::after {
                display: block;
                .rounded(12px);
                margin-top: -81%;
                margin-left: 15%;
                width: 71%;
                height: 71%;
                content: "\00a0"; 
                border-width: 2px;
                border-style: dashed;
            }            
        }
        .color1 .letter::after {
            border-color: #1663EB;
        }
        .color2 .letter::after {
            border-color: @yellow;
        }
        .color3 .letter::after {
            border-color: purple;
        }
        .color4 .letter::after {
            border-color: white;
        }
        .color5 .letter::after {
            border-color: @darkblue;
        }
        .color6 .letter::after {
            border-color: @orange;
        }
        .color7 .letter::after {
            border-color: black;
        }
        .color8 .letter::after {
            border-color: pink;
        }
        .correct {
            text-align: center;
            .tap {
                margin: auto;
                background-image: url('/assets/images/puzzles/language_scramble/wide_button.png'); 
                display: block;
                margin-top: 60px;
                height: 92px;
                width: 372px;
                line-height: 81px;
                text-indent: 20px;
                font-size: 45px;
                cursor: pointer;
                .no_select();
            }
        }
        
        .hidden_message {
            position: absolute;
            font-size: 15px;
            line-height: 45px;
            .papered {
                .background_size(90px);  
                
                &::before, &::after {
                    .background_size(21px);
                    width: 23px;
                }              
                
                &::before {
                    left: -21px;
                }
                
                &::after {
                    right: -21px;
                }
            }
        }
        
        &.hidden {
            position: relative;
            .letter, .guess, .space {
                visibility: hidden;
            }
            .hidden_message {
                left: 236px;
                top: 30px;
            }
        }
    }

    .guesses { 
        .color1, .color2, .color3, .color4, .color5, .color6, .color7, .color8 {
            .correct_letter::after {
                border-color: @green;
            }

            .wrong_letter::after {
                border-color: red;
            }
        }
        
        &.hidden {
            .letter {
                visibility: visible;
            }
            .hidden_message {
                left: 250px;    
                top: 60px;            
            }
        }
    }
    
    .scramble_content.foreign .guesses .guess {
        background: transparent url('/assets/images/puzzles/language_scramble/sunken_foreign.png') no-repeat; 
        .background_size(cover);
    }       
    
    .floating_message {
        position: absolute;
        top: -1000px;
        left: -1000px;
        opacity: 0;
        text-align: center;
        .rounded(12px);
        background-color: @white;
        padding: 60px;
    }
    
    .last_answer {
        .highlighted {
            .bg-alpha(@green, 0.25);
            padding: 0 3px;
        }
    }
    
    #clickarea {
        position: absolute;
        background-image:url('/assets/images/puzzles/language_scramble/keyboard.gif');
        width: 50px;
	    height: 17px;
        display: block;
        color: gray;
        z-index: 2; 
        margin-top: -10000px;
        margin-left: -10000px;
    }
    
    .hide_keyboard #clickarea {
        top: -1000px;
        left: -1000px;        
    }

    /* iPad [portrait + landscape] */
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        #clickarea {
    	    top: 284px;
    	    left: 444px;
        }
    }

    /* iPhone [portrait + landscape] */
    @media only screen and (max-device-width: 480px) {
    	#clickarea {
    	    top: 284px;
    	    left: 444px;
        }
    }
    
    .footer {
        padding: 15px 0;
        overflow: hidden;
        background-color: #eee;
        .border-bottom-left-radius(12px);
        .border-bottom-right-radius(12px);
        
        .levels {
            padding: 0 88px;
            text-align: center;
            .level {
                background-color: #fdfdfd;
                border: 1px solid #ccc;
                float: left;
                margin: 12px 0 0 30px;
                width: 330px;
                .level_link {
                    display: block;
                    margin: 6px 0;
                }
                .percent_complete {
                    opacity: 0.3;
                    margin-top: -48px;
                    overflow: hidden;
                    height: 48px;
                    float: left;
                    background-color: @darkgreen;
                }
            }
        }
    }
    
}