@import '../variables';
@import '../methods';

body {
    background-color: @grey;
}

@dimension: 945px;

.neurobehav {
    overflow:hidden;
    margin-bottom: 60px;
    width: @dimension;
    margin-left: -9px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    p {
        margin: 0;
        padding: 0 0 12px 0;
    }
    
    .board {
        float: left;
        width: @dimension - 2;
        height: ((2*@dimension/3) - 2);
        border: 1px solid #000;
        overflow: hidden;
        margin-bottom: 12px;
        background: lighten(#000, 10%) url(/assets/images/puzzles/space_fractions/whitecloth.jpg) repeat; 
        position: relative;
    }
    
    .oscilloscope {
        background-color: white;
        height: 90px;
        width: 150px;
        border: 1px solid #000;  
        .rounded(6px);
        position: absolute;
        z-index: 97;
        canvas {
            position: absolute;
            top: 0;
            left: 0;
            height:90px;
            width: 150px;
            z-index: 98;  
        }
        .title {
            z-index: 99;
            text-align: center;
            padding: 6px;
        }
    }
    
    .object_editor {
        background-color: white;
        overflow: hidden;
        color: white;
        position: relative;

        h4 {
            padding: 6px 0;
        }        
    }
        
    .object {
        position: absolute;
        overflow: hidden;
    }
    
    .descriptions {
        display: none;
    }    
}

.bubble_description {
    position: absolute;
    color: white;
    overflow: hidden;
    .description {
        overflow: auto;
        img {
            float: left;
            margin: 3px 12px 12px 0;        
        }

        h4 {
            padding-bottom: 6px;
        }

        p {
            margin: 0;
            padding: 0 0 12px 0;
        }
    }
}
