@import '../variables';
@import '../methods';

body {
    background-color: @grey;
}

@dimension: 630px;

.neurobehav {
    overflow:hidden;
    margin-bottom: 60px;
    width: ((@dimension / 2) * 3);
    margin-left: -9px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    .board {
        float: left;
        width: (@dimension - 2);
        height: (@dimension - 2);
        border: 1px solid #000;
        overflow: hidden;
        margin-bottom: 12px;
        background: lighten(#000, 10%) url(/assets/images/puzzles/space_fractions/whitecloth.jpg) repeat; 
        position: relative;
    }
    
    .sidebar {
        float: right;
        width: ((@dimension / 2) - 1);
        height: (@dimension - 2);
        background-color: @blue;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
    }
    
    .oscilloscope {
        background-color: white;
        height: ((@dimension / 3) - 2);
        width: ((@dimension / 2) - 1);
        border-bottom: 1px solid #000;  
        border-top: 1px solid #000;  
        position: relative;
        canvas {
            position: absolute;
            top: 0;
            left: 0;
            height: ((@dimension / 3) - 2);
            width: ((@dimension / 2) - 2);
            z-index: 1;  
        }
        .title {
            z-index: 2;
            text-align: center;
            padding: 6px;
        }
    }
    
    .goal {
        background-color: black;
        text-align: center;
        height: ((@dimension / 3) - 2); 
        color: white;
        a, .brief {
            font-size: @smallsize;
        }
        a {
            color: white;
            text-decoration: underline;
        }
        .model {
            display: block;
            margin: auto;
        }
    }
    
    .properties {
        background-color: white;
        padding: 0 6px;
        height: (@dimension / 3);
        overflow: auto;
        h4 {
            padding: 6px 0;
        }        
        
        .more_description {
            display: none;
        }
    }
    
    .more_info {
        position: absolute;
        top: -1000px;
        left: -1000px;
        width: ((@dimension / 2) - 1);
        background-color: white;
        overflow: hidden;
        z-index: 3;
        background-color: @lightestgrey;
        .content {
            margin: 6px;
            overflow: auto;
            width: ((@dimension / 2) - 13);
        }
    }
    
    .object {
        position: absolute;
        overflow: hidden;
    }
    
    .descriptions {
        display: none;
    }
}