@import '../variables';
@import '../methods';

body {
    background-color: @grey;
}

.space_fractions {
    overflow:hidden;
    margin-bottom: 60px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    .board {
        border: 1px solid @white;
        float: left;
        width: 620px;
        overflow: hidden;
        margin-bottom: 24px;
        background: url(/assets/images/puzzles/space_fractions/space1.jpg) no-repeat center center; 
        background-color: lighten(#000, 10%);
        
        .laser {
            pointer-events: none;
            position: absolute;
            overflow: hidden;
            &.right {
                margin-left: -3px;
            }
            &.left {
                margin-right: -3px;
            }
            &.up {
                margin-bottom: -3px;
            }
            &.down {
                margin-top: -3px;
            }
            .beam {
                background-color: red;
                box-shadow: 0 0 20px 10px red;
                opacity:0.75;
                position: relative;
                &.left, &.right {
                    margin: 20px 0;
                }
                &.up, &.down {
                    margin: 0 20px;
                }
                &.right {
                    border-top-left-radius: 40%;
                    border-bottom-left-radius: 40%;
                    margin-left: 3px;
                }
                &.left {
                    border-top-right-radius: 40%;
                    border-bottom-right-radius: 40%;
                    margin-right: 3px;
                }
                &.up {
                    border-bottom-left-radius: 40%;
                    border-bottom-right-radius: 40%;
                    margin-bottom: 3px;
                }
                &.down {
                    border-top-left-radius: 40%;
                    border-top-right-radius: 40%;
                    margin-top: 3px;
                }
            }
        }        
    }
    
    .board, .sidebar .options {
        .square {
            position: relative;
            display: block;
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            border: 1px solid transparent;
            float: left;
            &:hover, &.selected, &.permanently_selected {
                border: 1px solid @white;
            }
            img {
                vertical-align: middle;
            }
            .fraction {
                top: 0;
                left: 0;
            }
        }
    }
    
    .sidebar {
        float: left;
        overflow: hidden;
        .options, .menu {
            margin-left: 12px;
            background-color: @darkblue;
            overflow: hidden;
            width: 272px;
            border: 1px solid @black;
            .square {
                border: 1px solid @black;
                width: 66px;
                height: 66px;
                line-height: 66px;
            }
        }
        .menu {
            margin-top: 12px;
            height: 130px;
            background-color: @white;
            h3 {
                margin-top: 12px;
            }
            h3, p {
                margin-left: 12px;
                a {
                    text-decoration: underline;
                }
            }
            .hint_drag_message, .hint_drop_message {
                position: absolute;
                opacity: 0;
                background-color: @lightgrey;
                padding: 6px;
            }
        }
    }
        
    .square, .laser {
        .fraction {
            padding: 6px;
            position: absolute;
            background-color: white;
            border: 1px solid #ccc;
            font-weight: bold;
            opacity: 0.9;
            line-height: 1em;
        }   
    }
    
    .movable_object {
        pointer-events: none;
        position: absolute;
    }
    
    .element_selector {
        .rounded(6px);
        position: absolute;
        top: -1000px;
        left: -100px;
        opacity: 0;
        width: 320px;
        height: 300px;
        background-color: @white;
        border: 1px solid #ccc;
        overflow: auto;
        text-align: center;
        h3 { 
            padding-top: 12px;
        }
        .object {
            cursor: pointer;
            width: 65px;
            height: 65px;
            line-height: 65px;
            text-align: center;
            border: 1px solid #ccc;
            margin: 6px 0 0 6px;
            float: left;
            img {
                vertical-align: middle;
            }
        }
        
        .fraction_selector {
            padding: 12px;
            text-align: center;
            input, .solidus, button {
                width: 3em;
                font-size: 14pt;
            }
            .numerator {
                text-align: right;
            }
        }
    }
    
    .verification_messages {
        background-color: white;
        padding: 6px 0;
        text-align: center;
        overflow: hidden;
        clear: both;
        width: 620px;
        margin-bottom: 12px;
        .verified h3 {
            color: @green;
        }
        .unverified h3 {
            color: @red;
        }
        a {
            text-decoration: underline;
            display: block;
            padding: 6px 0;
        }
    }
    
    .level_description {
        display: block;
        height: 6em;
        width: 600px;
    }
}