<h1 class="red">Scramble Game</h1>

<h2 class='text-center'>Translate the highlighted word(s) by unscrambling the letters below.</h2>

<div class="section display_words text-center"></div>
<div class="section guesses text-center">
    <div class='hidden_message'>
        The blank spaces are hidden, but you can still drag to them.
    </div>
</div>
<div class="section scrambled text-center">
    <div class='hidden_message'>
        The scrambled letters are hidden. You'll have to type the answer.
    </div>
</div>
<br/><br/>
<p class='small text-center'>Type, click, or drag letters</p>



<textarea id='clickarea'></textarea>
<br/>
