.page {
    .logo {
        text-align: center;
        padding: 15px 0;
        line-height: 30px;
        img {
            margin-left: -27px;
            vertical-align: -48px;
        }
    }

    .main_nav {
        width: 25em;
        margin: 0 auto 30px auto;
        overflow: hidden;
        a {
            color: @black;
            width: 7em;
            margin-left: 1em;
            float: left;
            text-align: center;
            padding-bottom: 3px;
            border-bottom: 1px solid @lightgrey;
            &.selected, &:hover {
                border-bottom: 1px solid @darkgrey;
            }
        }
    }

    .sub_nav {
        width: 63em;
        margin: -15px auto 30px auto;
        overflow: hidden;
        a {
            font-weight: normal;
            color: @black;
            width: 20em;
            margin-left: 1em;
            float: left;
            text-align: center;
            padding-bottom: 3px;
            border-bottom: 1px solid @lightgrey;
            &.selected, &:hover {
                border-bottom: 1px solid @darkgrey;
            }
        }
    }
}

.home {    
    .opening_post {
        width: @narrow_content_width;
        margin: auto;
        li {
            margin-bottom: 6px;
        }
    }
}

.puzzles {
    #labs {
        padding-top: 45px;
        border-top: 1px solid @lightgrey;
    }
    .section {
        margin-bottom: 45px;
        .puzzle {
            padding: 30px 0;
            overflow: hidden;
            .info {
                float: left;
                img {
                    margin: 12px 12px 0 0;
                    border: 1px solid @grey;
                }
            }
            .details {
                margin-top: 12px;
                .explanation {
                    padding: 0 12px;
                    overflow: hidden;
                    background-color: @lightestgrey;
                    display: none;
                    &.selected {
                        display: block;
                    }
                }
                .rating {
                    width: 180px;
                    float: left;
                    p {
                        cursor: pointer;
                        padding: 6px;
                        margin: 0;
                        &.selected {
                            background-color: @lightestgrey;
                        }
                    }
                }
            }
        }
    }
}

.translations {
    #translation_container {
        margin-top: 12px;
        .translation_area {
            display: none;
            overflow: hidden;
        }
    
        &.new_translation .new_translation,
        &.no_translation .no_translation,
        &.no_bundle .no_bundle,
        &.not_native_verified .not_native_verified,
        &.not_foreign_verified .not_foreign_verified,
        &.bundle_list .bundle_list {
            display: block;
        }
        
        .translation_area {
            .form_container {
                float: left;
                width: 600px;
            }

            .data, .bundles, .bundle_list {
                float: right;
                height: 150px;
                width: 300px;
                overflow: auto;
                a {
                    display: block;
                    margin-bottom: 6px;
                    cursor: pointer;
                }
            }
        }
    }
    
    form {
        table {
            input {
                height: @h3size;
                line-height: @h3size;
                width: 30em;
            }
        }
    }
    .field, .buttons {
        margin-bottom: 6px;
    }
}

.about {
    .about_text {
        width: @narrow_content_width;
        margin: auto;
        img {
            float: left;
            margin: 0 12px 12px 0;
        }
    }
}
