@content_width: 930px;
@narrow_content_width: 54em;
@white: #FAFAFA;
@black: #262626;
@darkgrey: lighten(@black, 25%);
@grey: lighten(@black, 50%);
@lightgrey: lighten(@black, 75%);
@orange: #f0d827;
@green: #8c6;
@yellow: #F2C64D;
@red: #E46027;
@blue: #24A8C3;

// Font Sizes

@h1size: 27px;
@h2size: 18px;
@h3size: 15px;
@bodysize: 13px;
@smallsize: 11px;



// Effects
@default-radius: 3px;
@default-box-shadow-blur: 6px;
@default-box-shadow-alpha: 0.24;
@default-box-highlight-blur: 6px;
@default-box-highlight-alpha: 0.96;
@default-opacity: 0.9;
@default-shade: 0.24;
