html {
  font-size: 15px;
}

body {
  background-color: #fff;
  color: #333;
  font-family: 'Roboto', verdana, arial, helvetica, sans-serif;
}

.logo-header {
  letter-spacing: 0.05em;
}

ul {
  &.no_shift {
    padding-left: 18px;
  }

  &.spaced_out {
    li {
      margin-bottom: 6px;
    }
  }
}
