// Place all the styles related to the CodePuzzleProjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.canvas-container {
  float: left;
  width: 80%;
  height: 1vh;
  overflow: hidden;

  .canvas {
    position: relative;
    width: 2000px;
    height: 2000px;

    #arrow_canvas {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.sidebar {
  float: left;
  width: 20%;

  .signature-container {
    text-align: center;
    margin-bottom: 12px;
    position: relative;

    .signature, .signature-color {
      display: inline-block;
      height: 21px;
      font-size: 21px;
    }

    .signature-color {
      width: 21px;
      margin-bottom: -3px;
    }
  }

  .cards-container {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;

    .cards {
      .card {
        padding: 12px 0;
        border: none;

        img {
          height: 180px;
        }
      }

      .buffer {
        float: left;
        height: 400px;
      }
    }
  }

  .controls {
    padding-top: 12px;
    text-align: center;

    .play {
      float: left;
      margin-bottom: 12px;
      margin-left: 30px;
    }

    .pause {
      float: right;
      margin-right: 30px;
    }

    .speed {
      clear: both;
    }
  }

}
