// Place all the styles related to the CodePuzzleProjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.canvas {
  position: relative;
  height: 60vh;

  #arrow_canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.signature-container {
  text-align: center;

  .signature, .signature-color {
    display: inline-block;
    height: 21px;
    font-size: 21px;
  }

  .signature-color {
    width: 21px;
    margin-bottom: -3px;
  }
}

.cards-container {
  position: relative;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;

  .cards {
    white-space: nowrap;
    width: 9999px;
    padding: 0 80%;

    .card {
      float: left;
      padding: 0 12px;
      border: none;

      img {
        height: 150px;
      }
    }
  }
}
