<style>
    .bad_browser {
        text-align: center;
    }
    
    .logo {
        text-align: center; 
        padding: 30px;
    }

    .browsers {
        margin: auto;
    }
    
    .browsers td {
        padding: 0 12px;
    }

    .browsers a, .browsers img {
      text-decoration: none;
      border: none;
      cursor: pointer;
    }  
</style>

<div class='bad_browser'>
    <div class='logo'>
        <img src='https://s3.amazonaws.com/assets.puzzleschool.com/bad_browser/logo.gif'/>
    </div>

    <p>The educational puzzles created by The Puzzle School do not yet support this browser.</p>
    <p>We recommend the following web browsers to use with the The Puzzle School.</p>
    <table class='browsers'>
        <tr>
            <td>
                <a href='https://www.google.com/intl/en/chrome/browser/'>
                    <img src='https://www.google.com/intl/en/chrome/assets/common/images/chrome_logo_2x.png'/>
                </a>
            </td>
            <td>
                <a href='http://www.mozilla.org/en-US/firefox/new/'>
                    <img src='http://mozorg.cdn.mozilla.net/media/img/styleguide/identity/firefox/usage-standard.png'/>
                </a>
            </td>
        </tr>
    </table>
    <p>The Puzzle School also works well on mobile and table web browsers.</p>
    <p>If you have any questions you can contact us at <a href='mailto:info@puzzleschool.com'>info@puzzleschool.com</a>.</p>
</div>