<div class='page puzzles'>
    <h1 class='logo upcase'>
        <img src='/assets/images/logo_icon.png'/>
        Puzzles
    </h1>
    
    <h3 class='main_nav upcase'>
        <a href='/'>HOME</a>    
        <!-- <a>THE SCHOOL</a> -->
        <a href='/puzzles' class='selected'>PUZZLES</a>
        <a href='/reviews'>REVIEWS</a>
        <!-- <a>BLOG</a> -->
        <a href='/about'>ABOUT</a>
    </h3>
        
    <h4 class='sub_nav'>
        <a href='#labs' class='selected'>Puzzles In The Labs</a>
        <a href='#other'>Other Projects</a>
    </h4>

    <div class='section' id='labs'>
        <h2>Puzzles In The Labs</h2>
        <p>Here are all of the puzzles we're working on at The Puzzle School.</p>
        {:labs}
        <div class='puzzle' id={id}>
            <h3>
                <a href='{&website}' target='_blank'>{title}</a>
                <small>by <a href='{&companyWebsite}' target='_blank'>{company}</a></small>
            </h3>
            <div class='info'>
                <a href='{website}' target='_blank'><img src='{&thumbnail}'/></a>
                <p><b>Material:</b> {material}</p> 
                <p><b>Availability:</b> {availability}</p> 
                <p><b>Cost:</b> {cost}</p>
                <p>Try <a href='{&website}' target='_blank'>{title}</a> ></p>
            </div>
            <div class='explanation'>
                {&explanation}
                <p>Try <a href='{&website}' target='_blank'>{title}</a> ></p>
            </div>
        </div>
        {/labs}        
    </div>
    
    
    <div class='section' id='other'>
        <h2>Other Projects We've Built</h2>
        <p>Here are some other projects we've built over here at The Puzzle School.</p>
        {:other}
        <div class='puzzle' id={id}>
            <h3>
                <a href='{&website}' target='_blank'>{title}</a>
                <small>by <a href='{&companyWebsite}' target='_blank'>{company}</a></small>
            </h3>
            <div class='info'>
                <a href='{website}' target='_blank'><img src='{&thumbnail}'/></a>
                <p><b>Material:</b> {material}</p> 
                <p><b>Availability:</b> {availability}</p> 
                <p><b>Cost:</b> {cost}</p>
                <p>Try <a href='{&website}' target='_blank'>{title}</a> ></p>
            </div>
            <div class='explanation'>
                {&explanation}
                <p>Try <a href='{&website}' target='_blank'>{title}</a> ></p>
            </div>
        </div>
        {/other}        
    </div>    

</div>