<div class='page stats'>
    <h1 class='logo upcase'>
        <img src='/assets/images/logo_icon.png'/>
        {className} Stats (ID: {classId})
    </h1>

    <table>
        <tbody>
            {:stats}
                <tr>
                    <td>{user}</td>
                    {:levels}
                        <td title='
{user}
{level}
{:attempted}
{moves} moves
{hints} hints
{duration}
{:assessment}Challenge: {challenge}{/assessment}
{/attempted}
                        ' class='{:success}success{/success} {:hints}hints{/hints} {:attempted}{!success}fail{/success}{/attempted}'{/success}>
                        </td>
                    {/levels}
                </tr>
            {/stats}
            {!stats}<tr><td>No Stats Yet</td></tr>{/stats}
        </tbody>
    </table>
    
    <p>
    {:previousPage}
        <a href='{previousPageLink}'>< Previous Page</a>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    {/previousPage}
    {:nextPage}
        <a href='{nextPageLink}'>Next Page ></a>
    {/nextPage}
</div>