%footer.footer
  .container
    .row.text-muted
      .col-xs-4.py-1.my-1
        %p= link_to 'Learn More', learn_more_path
        %p= link_to 'Programs', programs_path
        %p= link_to 'Contact', contact_path
      .col-xs-4.py-3.text-xs-center
        = image_tag('compass_small.png')
      .col-xs-4.py-1.my-1.text-xs-right
        &copy; Puzzle School  2017
