%nav.navbar.navbar-fixed-top.navbar-light.bg-faded
  .container
    %ul.nav.navbar-nav.float-xs-right.text-muted
      %li.nav-item
        = link_to 'Home', root_path, class: 'nav-link'
      %li.nav-item
        = link_to 'Learn More', learn_more_path, class: 'nav-link'
      %li.nav-item
        = link_to 'Programs', programs_path, class: 'nav-link'

    = link_to(image_tag('darker_logo_small.png'), root_path)
