.logo-header.text-xs-center
  %h1.pt-3.mt-3= link_to(image_tag('darker_logo.png', class: 'logo img-fluid'), root_path)
  %p.text-uppercase.py-3
    A new public innovation school in the exploratory stage
    %br
    Based in Cambridge, MA
